{% extends "dashboard.base.html" %}
{% load static %}
{% block styles %}
<style>
    .table thead tr th,
    .table tbody tr td {
        border: 1px solid black !important;
        vertical-align: middle;
    }

    table {
        page-break-inside: auto !important;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto !important;
    }

    td {
        white-space: normal !important;
    }

    thead {
        display: table-header-group !important;
    }

    .doc * {
        font-family: "Times New Roman", Times, serif !important;
        font-size: 14pt;
    }

    .doc-head * {
        font-size: 16pt;
    }
</style>
{% endblock styles %}
{% block content %}
<div class="no-print">
    <a class="btn btn-secondary rounded-0 m-0" href="{% url 'permanent_ti_dashboard' %}" role="button">
        <i class="fa-solid fa-arrow-left mr-2" aria-hidden="true"></i> Voltar
    </a>
    <div class="mb-2 text-center">
        <h3>Relação de materiais permanentes</h3>
        <div class="row justify-content-end">
            <div class="col-auto">
                <button type="button" class="btn mb-1 btn-outline-primary btn-sm"
                    onclick="window.print();return false;">
                    Imprimir <i class="fas fa-print" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <form id="filters">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input class="form-control rounded-0" placeholder="Buscar" type="text" name="search" data-filter />
            </div>
        </div>
    </form>
    <hr />
</div>
<div class="doc">
    <table class="table table-bordered">
        <caption>Emitido em: {% now "d/m/Y" %} às {% now "H:i" %}</caption>
        <thead>
            <tr>
                <th class="text-center">Nome</th>
                <th class="text-center">Tombo</th>
                <th class="text-center">Marca</th>
                <th class="text-center">Status</th>
                <th class="text-center">Observações</th>
                <th class="text-center">QR</th>
            </tr>
        </thead>
        <tbody id="permanent-materials">
            {% comment %} AJAX {% endcomment %}
        </tbody>
    </table>
</div>
<div class="no-print mt-5">
    <hr />
    <div class="row justify-content-end">
        <div class="col-auto">
            <button type="button" class="btn mb-1 btn-outline-secondary btn-sm" onclick="backTop();">
                Voltar para o topo <i class="fas fa-arrow-up" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn mb-1 btn-outline-primary btn-sm" onclick="window.print();return false;">
                Imprimir <i class="fas fa-print" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    function getMaterials() {
        let filters = $("[data-filter]").serialize();
        let url = `/api/laboratory/ti/permanents/?paginate=false&${filters}`;
        $.get(url, (response) => {
            let materials = $("#permanent-materials");
            materials.html("");
            response.forEach((item) => {
                let row = $("<tr />");

                let name = $("<td />", {
                    "text": item.name,
                    "class": "py-0"
                });
                let number = $("<td />", {
                    "text": item.number,
                    "class": "py-0 text-center"
                });
                let brand = $("<td />", {
                    "text": item.brand,
                    "class": "py-0 text-center"
                });
                let status = $("<td />", {
                    "text": item.status_display,
                    "class": "py-0 text-center"
                });
                let obsText = item.comments || '';
                if (obsText.length > 50) {
                    obsText = obsText.slice(0, 50) + '...';
                }
                let obs = $("<td />", {
                    "text": obsText,
                    "class": "py-0 text-center"
                });
                let qr = $("<td />", {
                    "html": `<img style="width: 4cm; height: 4cm" src="${item.qr_code.high}" alt=""/>`,
                    "class": "py-1 text-center"
                });

                row.append(name, number, brand, status, obs, qr);
                materials.append(row);
            });
        });
    }

    function backTop() {
        $('html, body').animate({
            scrollTop: '0px'
        }, 300);
    };

    $(document).ready(function () {
        $("#filters").submit(function (e) {
            e.preventDefault();
        });

        $("[data-filter]").change(function () {
            getMaterials();
        });

        getMaterials();
    })
</script>
{% endblock scripts %}