{% extends "dashboard.base.html" %}
{% load static %}
{% block styles %}
    <style>
        table.table {
            table-layout: fixed;
        }

        table.table td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        table.table th:first-child {
            width: 20px;
        }

        table.table th:nth-child(2) {
            width: 70px;
        }
    </style>
{% endblock styles %}
{% block content %}
    <div class="row">
        <div class="col-md-3 mb-3">
            <select class="form-control form-control-sm " data-filter name="ordering">
                <option value="-created" selected>
                    Ver mais recentes primeiro
                </option>
                <option value="created">
                    Var mais antigos primeiro
                </option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <select class="form-control form-control-sm " data-filter name="status">
                <option value="" selected>
                    Ver todos os chamados
                </option>
                <option value="R">
                    Ver apenas chamados resolvidos
                </option>
                <option value="N">
                    Ver apenas chamados não resolvidos
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card rounded-0">
                <div class="card-header head-table border-0 rounded-0">
                    <b><i class="fas fa-paper-plane mr-2"></i>Chamados encerrados</b>
                </div>
                <div class="card-body p-0" style="overflow-x: auto;">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr class="capt-table">
                                <th class="border-0 text-center" scope="col"></th>
                                <th class="border-0" scope="col"></th>
                                <th class="border-0" scope="col">Título</th>
                                <th class="border-0" scope="col">Solicitante</th>
                                <th class="border-0 text-center" scope="col">Data</th>
                            </tr>
                        </thead>
                        <tbody id="lista-de-chamados">
                            <tr>
                                <td colspan="5" class="text-center">
                                    <h1 class="m-0">
                                        <i class="fas fa-spinner fa-spin"></i>
                                    </h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center w-100">
                <button id="load-recente" class="btn rounded-0 mt-4">
                    <i class="fas fa-arrow-alt-circle-left"></i> Mais Recente
                </button>
                <button id="load-antigo" class="btn rounded-0 mt-4">
                    Mais Antigo <i class="fas fa-arrow-alt-circle-right"></i>
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-group" id="detalhes" style="display: none;opacity: 0;">
                <div class="card" style="width: 18rem;">
                    <div class="card-header head-table border-0 rounded-0">
                        <b><i class="fas fa-info mr-2"></i>Detalhes do Chamado</b>
                        <button id="detalhes-dismiss" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
                        </button>
                    </div>
                    <div class="card-body">
                        <p>
                            <small class="text-muted">Status:</small><span data-attribute="status"></span>
                        </p>
                        <h5 class="card-title">
                            <small>Título:</small> <b data-attribute="title"></b>
                        </h5>
                        <p class="card-text">
                            <small>Descrição:</small> <b data-attribute="description"></b>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <small>Solicitante:</small> <b data-attribute="requester"></b>
                        </li>
                        <li class="list-group-item">
                            <small>Contato:</small> <b data-attribute="contact">Sala 27A</b>
                        </li>
                        <li class="list-group-item">
                            <small>Curso:</small> <b data-attribute="course">Sala 27A</b>
                        </li>
                    </ul>
                    <div class="card-footer border-top-0">
                        <p>
                            <b>Ações:</b>
                        </p>
                        <small class="text-muted">Observação do chamado:</small>
                        <textarea id="call-obs"
                                  class="form-control mb-3"
                                  data-attribute="obs"
                                  rows="2"
                                  placeholder="Escrever observação"></textarea>
                        <a href="#" class="btn mb-1 btn-outline-primary btn-sm" id="obsCall">Salvar Observação</a>
                        <hr />
                        <a href="#"
                           class="btn mb-1 btn-outline-success btn-sm"
                           id="confirmCall"
                           data-status="R">Resolvido</a>
                        <a href="#"
                           class="btn mb-1 btn-outline-danger btn-sm"
                           id="rejectCall"
                           data-status="N">Não
                        Resolvido</a>
                        <a href="#"
                           class="btn mb-1 btn-outline-warning btn-sm"
                           id="waitCall"
                           data-status="P">Colocar
                        em Espera</a>
                        <p class="m-0 mt-2">
                            <small class="text-muted">Data do Chamado: <span date-format="DD/MM/YYYY HH:mm" data-attribute="created"></span></small>
                        </p>
                        <p class="m-0 mt-2">
                            <small class="text-muted">Ultima Alteração: <span date-format="DD/MM/YYYY HH:mm" data-attribute="lastModified"></span></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'assets/chamado/dashboard/js/badge.js' %}"></script>
    <script src="{% static 'assets/chamado/dashboard/js/historico.js' %}"></script>
{% endblock scripts %}
