
  <div id="barra-identidade">
    <div id="barra-brasil">
      <div class="conteudo-escondido"> <a target="_blank" accesskey="1" href="#conteudo">Ir para o conteúdo</a> </div>
      <div class="conteudo-barra-brasil"> <a target="_blank" href="http://www.brasil.gov.br/" class="pic-gov" title="GovBR">GovBR</a>
        <nav id="menu-barra-brasil" onscroll="checkScrollBarra(this);">
          <ul class="lista-barra-brasil">
            <li class="list-item"> <a target="_blank" href="http://www.acessoainformacao.gov.br" class="link-barra link-externo-barra link-discreto-fixo">Acesso
                à informação</a> </li>
            <li class="espacador"></li>
            <li class="list-item"> <a target="_blank" href="http://brasil.gov.br/participacao-social" class="link-barra link-externo-barra link-discreto-fixo">Participe</a>
            </li>
            <li class="espacador"></li>
            <li class="list-item"> <a target="_blank" href="https://servicos.gov.br/" class="link-barra link-externo-barra link-discreto-fixo">Serviços</a>
            </li>
            <li class="espacador"></li>
            <li class="list-item"> <a target="_blank" href="http://www4.planalto.gov.br/legislacao/" class="link-barra link-externo-barra link-discreto-fixo">Legislação</a>
            </li>
            <li class="espacador"></li>
            <li class="list-item"> <a target="_blank" href="javascript:toggleOrgaosGoverno();" id="link-orgaos" class="link-barra link-interno-barra link-baixo-barra link-cima-barra">Órgãos
                do Governo</a> </li>
          </ul>
        </nav> <a target="_blank" href="javascript:scrollBarra();" id="botao-seta-direita" class="botao-seta-direita"><i
            class="arrow right">Navegar para direita</i></a>
      </div>
      <div class="orgaos-governo-barra mostra-orgaos" id="orgaos-governo-barra">
        <div>
          <ul>
            <li class="orgao-barra"> <a target="_blank" href="http://www.casacivil.gov.br/">Casa Civil da Presidência
                da República</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.justica.gov.br">Ministério da Justiça</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="https://www.defesa.gov.br/">Ministério da Defesa</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.itamaraty.gov.br">Ministério das Relações
                Exteriores</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.fazenda.gov.br">Ministério da Fazenda</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.transportes.gov.br">Ministério dos
                Transportes, Portos e Aviação Civil</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.agricultura.gov.br/">Ministério da
                Agricultura, Pecuária e Abastecimento</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.mec.gov.br">Ministério da Educação</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.cultura.gov.br/">Ministério da Cultura</a>
            </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.trabalho.gov.br">Ministério do Trabalho</a>
            </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.mds.gov.br">Ministério do Desenvolvimento
                Social</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.saude.gov.br">Ministério da Saúde</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.mdic.gov.br/">Ministério da Indústria,
                Comércio Exterior e Serviços</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.mme.gov.br">Ministério de Minas e Energia</a>
            </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.planejamento.gov.br">Ministério do
                Planejamento, Desenvolvimento e Gestão</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.mctic.gov.br">Ministério da Ciência,
                Tecnologia, Inovações e Comunicações</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.mma.gov.br/">Ministério do Meio Ambiente</a>
            </li>
            <li class="orgao-barra"> <a target="_blank" href="https://www.esporte.gov.br">Ministério do Esporte</a>
            </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.turismo.gov.br">Ministério do Turismo</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.integracao.gov.br/">Ministério da Integração
                Nacional</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.cidades.gov.br">Ministério das Cidades</a>
            </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.cgu.gov.br/">Ministério da Transparência e
                Controladoria-Geral da União</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.mdh.gov.br/">Ministério dos Direitos Humanos</a>
            </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.segov.gov.br">Secretaria-Geral da Presidência
                da República</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.gsi.gov.br/">Gabinete de Segurança
                Institucional</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.agu.gov.br/">Advocacia-Geral da União</a> </li>
            <li class="orgao-barra"> <a target="_blank" href="http://www.bcb.gov.br ">Banco Central do Brasil</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>