{% load static %}
<div id="logo" class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'principal:home' %}">
                <img src="{% static 'assets/images/logotipo_ufrn_esufrn.vlow.png' %}"
                     alt="Logo Escola de Saúde da UFRN - ESUFRN"/>
            </a>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-md-end justify-content-md-end justify-content-center py-3">
            <button id="contraste">
                <i class="fas fa-sun"></i>
                <strong>ALTO CONTRASTE</strong>
            </button>
            <a href="http://www.vlibras.gov.br/#baixar" target="_blank">
                <button>
                    <i class="fas fa-sign-language"></i>
                    <strong>VLIBRAS</strong>
                </button>
            </a>
            <button class="btn btn-sm btn-light"
                    title="Diminuit fonte"
                    onclick="mudaFonte(1)">
                <i class="fas fa-font"></i><small><i style="font-size: 7px; vertical-align: text-top" class="fas fa-minus"></i></small>
            </button>
            <button class="btn btn-sm btn-light"
                    title="Aumentar fonte"
                    onclick="mudaFonte(2)">
                <i class="fas fa-font"></i><small><i style="font-size: 7px; vertical-align: text-top" class="fas fa-plus"></i></small>
            </button>
        </div>
    </div>
    <!-- <hr> -->
</div>
