<ul class="navbar-nav mr-auto">
    {% for item in navbar_items %}
        <li class="nav-item">
            {% if item.action_type == "hover" %}
                <div class="dropdown">
                    <a class="nav-link {% if forloop.first %}ml-lg-0 pl-lg-0{% endif %} {{ item.decoration|default_if_none:'' }}"
                       href="#"
                       id="{{ item.name }}"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {{ item.name }}
                    </a>
                    <div class="dropdown-menu rounded-0 p-0" aria-labelledby="{{ item.name }}">
                        {% for sub in item.subitems %}
                            <a class="dropdown-item py-3 {{ sub.decoration|default_if_none:'' }}"
                               href="{{ sub.link }}">{{ sub.name }}</a>
                        {% endfor %}
                        {% if item.name == "Informática" and request.user.is_authenticated %}
                            <a class="dropdown-item py-3" href="{% url 'admin:index' %}">Administração</a>
                            <a class="dropdown-item py-3" href="{% url 'dashboard_home' %}">Dashboard</a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <a class="nav-link mx-0 {{ item.decoration|default_if_none:'' }}"
                   href="{{ item.link }}"
                   id="{{ item.name }}">{{ item.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
