<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="/static/assets/images/icon.ico">
        <title>Escola de Saúde da UFRN</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway"
              rel="stylesheet">
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">
        <link rel="stylesheet" href="/static/assets/css/barra_2.0.css">
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">
    </head>
    <body>
        <div class="background-home">
            <div id="nav-box" class="p-3 w-100 secondary">
                <div id="logo" class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/">
                                <img src="/static/assets/images/logotipo_ufrn_esufrn.vlow.png"
                                     alt="Logo Escola de Saúde da UFRN - ESUFRN">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <article>
            <div class="container mt-5 text-center cabecalho">
                <h4>Erro 503</h4>
                <h3>
                    <i class="fas fa-cogs" aria-hidden="true"></i>Serviço indisponível
                </h3>
            </div>
            <div class="container mt-5 pt-4 corpo pb-5">
                <h4>
                    O servidor não pôde processar sua requisição devido a uma sobrecarga temporária ou uma manutenção
                    programada. Tente novamente em alguns instantes, se o problema persistir, entre em contato com o
                    <a href="mailto:suporte.es@ufrn.br"><b>Suporte de Informática da Escola de Saúde</b></a>.
                </h4>
            </div>
        </article>
    </body>
</html>
