{% extends "dashboard.base.html" %}
{% load static %}
{% block styles %}
    <style>
        table.table {
            table-layout: fixed;
        }

        table.table td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        table.table th:first-child {
            width: 25px;
        }

        table.table th:nth-child(2) {
            width: 25px;
        }
    </style>
{% endblock styles %}
{% block content %}
    <div class="row">
        <div class="col-md-3 mb-3">
            <input class="form-control form-control-sm rounded-0"
                   placeholder="Buscar"
                   type="text"
                   data-filter
                   name="search"/>
        </div>
        <div class="col-md-3 mb-3">
            <select class="form-control form-control-sm" data-filter name="classroom">
                <option value="" selected>
                    Todas as salas
                </option>
                {% for sala in salas %}
                    <option value="{{ sala.id }}">
                        {{ sala }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <select class="form-control form-control-sm" data-filter name="ordering">
                <option value="-created" selected>
                    Mais recentes primeiro
                </option>
                <option value="created">
                    Mais antigos primeiro
                </option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <select class="form-control form-control-sm" data-filter name="status">
                <option value="" selected>
                    Todas as reservas
                </option>
                <option value="A">
                    Apenas reservas aprovadas
                </option>
                <option value="R">
                    Apenas reservas rejeitadas
                </option>
                <option value="C">
                    Apenas reservas canceladas
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mb-2">
            <div class="card rounded-0">
                <div class="card-header head-table border-0 rounded-0">
                    <b><i class="fas fa-paper-plane mr-2"></i>Solicitações de reserva atendidas</b>
                </div>
                <div class="card-body p-0" style="overflow-x: auto;">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr class="capt-table">
                                <th class="border-0 text-center" scope="col"></th>
                                <th class="border-0" scope="col"></th>
                                <th class="border-0" scope="col">Sala</th>
                                <th class="border-0" scope="col">Título</th>
                                <th class="border-0" scope="col">Solicitante</th>
                                <th class="border-0 text-center" scope="col">Data</th>
                                <!-- <th class="border-0 text-center" scope="col">Ação</th> -->
                            </tr>
                        </thead>
                        <tbody id="lista-de-chamados">
                            <tr>
                                <td colspan="6" class="text-center">
                                    <h1 class="m-0">
                                        <i class="fas fa-spinner fa-spin"></i>
                                    </h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center w-100 mb-4">
                <button id="load-recente" class="btn rounded-0 mt-4">
                    <i class="fas fa-arrow-alt-circle-left"></i> Mais Recente
                </button>
                <button id="load-antigo" class="btn rounded-0 mt-4">
                    Mais Antigo <i class="fas fa-arrow-alt-circle-right"></i>
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-group" id="detalhes" style="display: none;opacity: 0;">
                <div class="card" style="width: 18rem;">
                    <div class="card-header head-table border-0 rounded-0">
                        <b><i class="fas fa-info mr-2"></i>Detalhes da reserva</b>
                        <button id="detalhes-dismiss" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
                        </button>
                    </div>
                    <div class="card-body">
                        <p>
                            <small class="text-muted">Status:</small><span data-attribute="status"></span>
                        </p>
                        <h5 class="card-title">
                            <small>Sala:</small> <b data-attribute="classroom.full_name"></b>
                        </h5>
                        <p class="card-text">
                            <small>Evento:</small> <b data-attribute="event"></b>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <small>Data:</small> <b date-format="DD/MM/YYYY" data-attribute="date"></b>
                        </li>
                        <li class="list-group-item">
                            <small>Turno:</small> <b data-attribute="shift"></b>
                        </li>
                        <li class="list-group-item">
                            <small>Equipamentos:</small> <b data-attribute="equipment"></b>
                        </li>
                        <li class="list-group-item">
                            <small>Solicitante:</small> <b data-attribute="requester"></b>
                        </li>
                        <li class="list-group-item">
                            <small>Email:</small> <b data-attribute="email"></b>
                        </li>
                        <li class="list-group-item">
                            <small>Telefone:</small> <b data-attribute="phone"></b>
                        </li>
                    </ul>
                    <div class="card-footer border-top-0">
                        <p>
                            <b>Ações:</b>
                        </p>
                        <small class="text-muted">Observações sobre a reserva:</small>
                        <textarea class="form-control mb-3"
                                  rows="2"
                                  placeholder="Escrever observação"
                                  data-attribute="obs"></textarea>
                        <a href="#" class="btn mb-1 btn-outline-primary btn-sm" id="obsReserve">Salvar Observação</a>
                        <hr/>
                        <small class="text-muted">Mensagem de resposta:</small>
                        <textarea id="reserve-email"
                                  class="form-control mb-3"
                                  rows="2"
                                  data-attribute="email_response"
                                  disabled></textarea>
                        <a href="#"
                           class="btn mb-1 btn-outline-success btn-sm"
                           data-submit="reserve"
                           data-status="A">Confirmar</a>
                        <a href="#"
                           class="btn mb-1 btn-outline-danger btn-sm"
                           data-submit="reserve"
                           data-status="R">Rejeitar</a>
                        <a href="#"
                           class="btn mb-1 btn-outline-secondary btn-sm"
                           data-submit="reserve"
                           data-status="C">Cancelar</a>
                        <a href="#"
                           class="btn mb-1 btn-outline-warning btn-sm"
                           data-submit="reserve"
                           data-status="E">Colocar em Espera</a>
                        <p class="m-0 mt-2">
                            <small class="text-muted">Data do pedido: <span date-format="DD/MM/YYYY HH:mm" data-attribute="created"></span></small>
                        </p>
                        <p class="m-0 mt-2">
                            <small class="text-muted">Ultima Alteração: <span date-format="DD/MM/YYYY HH:mm" data-attribute="modified"></span></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'assets/dashboard/reserva/js/badge.js' %}"></script>
    <script src="{% static 'assets/dashboard/reserva/js/historico.js' %}"></script>
{% endblock scripts %}
