{% load static %}
<script src="{% static 'assets/dashboard/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/dashboard/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/dashboard/js/jquery.timeago.js' %}"></script>
<script src="{% static 'assets/dashboard/js/jquery.mask.js' %}"></script>
<script src="{% static 'assets/dashboard/js/datepicker.min.js' %}"></script>
<script src="{% static 'assets/dashboard/js/status_message.js' %}"></script>
<script src="{% static 'assets/dashboard/js/notification.js' %}"></script>
<script src="{% static 'assets/dashboard/js/moment.min.js' %}"></script>
<script src="{% static 'assets/dashboard/js/attributes.js' %}"></script>
<script src="{% static 'assets/dashboard/js/ajax_csrf.js' %}"></script>
<script src="{% static 'assets/js/reservation_calendar.js' %}"></script>
<script src="{% static 'assets/js/response.js' %}"></script>