{% extends "dashboard.base.html" %}
{% load static %}
{% block styles %}
{% endblock styles %}
{% block content %}
    <form autocomplete="off" id="form-item">
        {% csrf_token %}
        <input type="hidden" name="type" value="C"/>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label>
                    <b>Nome</b>
                </label>
                <input class="form-control rounded-0" type="text" name="name"/>
                <div class="invalid-feedback" for="name"></div>
            </div>
            <div class="form-group col-md-4">
                <label>Marca</label>
                <input class="form-control rounded-0" type="text" name="brand" id="brand"/>
                <div class="invalid-feedback" for="brand"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Descrição</label>
                <textarea class="form-control rounded-0"
                          name="description"
                          id="description"
                          rows="5"></textarea>
                <div class="invalid-feedback" for="description"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>
                    <b>Quantidade</b>
                </label>
                <input class="form-control rounded-0"
                       type="number"
                       name="quantity"
                       id="quantity"/>
                <div class="invalid-feedback" for="quantity"></div>
            </div>
            <div class="form-group col-md-3">
                <label >Data de validade</label>
                <input class="form-control rounded-0 mb-1"
                       name="expiration"
                       data-mask="00-00-0000"
                       data-toggle="datepicker"
                       required
                       autocomplete="off"
                       maxlength="10"/>
                <div class="invalid-feedback" for="expiration"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Data de recebimento</label>
                <input class="form-control rounded-0 mb-1"
                       name="received_at"
                       data-mask="00-00-0000"
                       data-toggle="datepicker"
                       required
                       autocomplete="off"
                       maxlength="10"/>
                <div class="invalid-feedback" for="received_at"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Localização</label>
                <input type="text"
                       class="form-control rounded-0"
                       name="location"
                       placeholder="Localização"
                       required/>
                <div class="invalid-feedback" for="location"></div>
            </div>
            <div class="form-group col-md-3">
                <label>Quantidade crítica</label>
                <input type="number"
                       class="form-control rounded-0"
                       name="alert_below"
                       value="50"/>
                <div class="invalid-feedback" for="alert_below"></div>
            </div>
            <div class="form-group col-md-3">
                <label>Valor de referência</label>
                <input type="number"
                       class="form-control rounded-0"
                       name="reference"
                       value="250"/>
                <div class="invalid-feedback" for="reference"></div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button id="enviar-instancia" class="btn btn-dark rounded-0">Registrar material consumível</button>
        </div>
    </form>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'assets/dashboard/js/ajax_csrf.js' %}"></script>
    <script src="{% static 'assets/dashboard/js/jquery.mask.js' %}"></script>
    <script>
        $('[data-toggle="datepicker"]').datepicker({
            format: 'dd-mm-yyyy',
            months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            daysMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S']
        });
        
        
        $("#form-item [name]").change(function() {
            $(this).removeClass("is-invalid");
        });
        
        $("#enviar-instancia").click(function(e) {
            e.preventDefault();
            let serialized_array = $("#form-item").serializeArray();
            let serialized_data = {};
            for (key in serialized_array) {
                serialized_data[serialized_array[key]["name"]] = serialized_array[key]["value"];
            }
            serialized_data["received_at"] = serialized_data["received_at"] ? moment($("#form-item [name=received_at]").val(), "DD-MM-YYYY").format("YYYY-MM-DD") : "";
        
            $.ajax({
                type: "POST",
                url: "/api/almoxarifado/materiais/",
                dataType: "json",
                data: serialized_data,
                success: function(response) {
                    showMessage("Material cadastrado com sucesso.", "alert-success");
                    $("#form-item").trigger("reset");
                },
                error(response) {
                    console.log(response);
                    $.map(response.responseJSON, (value, label) => {
                        $(`#form-item [name=${label}]`).addClass("is-invalid");
                        let feedback = $(`.invalid-feedback[for=${label}]`);
                        feedback.html("");
                        value.forEach((message) => {
                            error = $("<p />", {
                                "html": message
                            });
                            feedback.append(error);
                        });
                    });
                }
            })
        });
    </script>
{% endblock scripts %}
