{% extends "base.pagina.html" %}
{% load static %}
{% block content %}
    <article>
        <div class="container mt-5 text-center cabecalho">
            <h3>{{ page.name }}</h3>
            <hr class="hr-escuro mt-5"/>
        </div>
        <div class="container mt-4 corpo">
            {% autoescape off %}
                {{ page.content }}
            {% endautoescape %}
        </div>
        <div class="container text-right">
            <hr class="hr-escuro my-5"/>
            <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class="fas fa-arrow-alt-circle-up"></i></a>
        </div>
    </article>
{% endblock content %}
