{% extends "registration/base.html" %}
{% block content %}
    <div class="justify-content-center">
        <div id="error_div"></div>
        <h3 class="font-weight-light my-4">Esqueceu a senha?</h3>
    </div>
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}<strong>{{ value }}</strong>{% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="email"
                   name="email"
                   class="form-control rounded-0 border-0 my-4"
                   autocomplete="email"
                   maxlength="254"
                   required
                   id="id_email"
                   placeholder="Informe seu endereço de email"/>
            <button type="submit" class="text-white w-100 h-100 p-3 border-0">Enviar</button>
        </form>
    </div>
    <div class="mt-4">
        <a href="{% url 'login' %}">Voltar para o Login</a>
    </div>
{% endblock content %}
