{% extends "registration/base.html" %}
{% block content %}
    <div>
        <h3 class="font-weight-light my-4 text-center">Redefinição de senha enviada</h3>
    </div>
    <p>
        Nós te enviamos um email com instruções para redefinir sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.
    </p>
    <p>
        Se você não recebeu um email, por favor certifique-se de que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.
    </p>
    <div>
        <a href="{% url 'login' %}">
            <button type="button" class="text-white w-100 h-100 p-3 border-0 mt-2">Voltar para o Login</button>
        </a>
    </div>
{% endblock content %}
