{% extends "registration/base.html" %}
{% block content %}
    {% if validlink %}
        <div class="justify-content-center">
            <h3 class="font-weight-light my-4 text-center">Redefinição de senha</h3>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}<strong>{{ value }}</strong>{% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="password"
                   name="new_password1"
                   autocomplete="new-password"
                   class="form-control rounded-0 border-0 my-4"
                   required
                   id="id_new_password1"
                   placeholder="Digite a nova senha"/>
            <input type="password"
                   name="new_password2"
                   autocomplete="new-password"
                   required
                   id="id_new_password2"
                   class="form-control rounded-0 border-0 my-4"
                   placeholder="Redigite a nova senha"/>
            <button type="submit" class="text-white w-100 h-100 p-3 border-0">Confirmar</button>
        </form>
    {% else %}
        <div class="alert alert-warning">
            Este link de redefinição de senha é inválido, possivelmente porque já foi usado.
            Por favor, solicite uma nova redefinição de senha.
        </div>
    {% endif %}
{% endblock content %}
