.content {
  width: 660px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  float: left;
  overflow-x: hidden;
}
.sidebar {
  width: 420px;
  height: 320px;

  padding-left: 20px;
  margin-top: 107px;
  margin-right: 160px;

  float: right;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-left: 4px solid #3f95c7;
  border-right: 1px solid #e6ebf8;
  border-top: 1px solid #e6ebf8;
  border-bottom: 1px solid #e6ebf8;
}

#main-title {
  margin: 0;
  color: #003b62;
  font-size: 28px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.title_2 {
  margin: 0;
  line-height: 1.42857143;
  font-size: 18px;
  color: #003b62;
}

.title_3 {
  padding-left: 5px;
  line-height: 1.42857143;
  font-size: 12px;
  color: #003b62;
  margin-top: -5px;
}

.botao {
  width: 200px;
  height: 50px;
  background-color: #3f95c7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  font-weight: 500;
  margin-left: 16px;
}

#btn_cancel {
  width: 100px;
  background-color: #da252d;
  color: white;
  padding: 14px 28px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  float: left;
}

#btn_action {
  width: 100px;
  background-color: #3f95c7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

#btn_action_tabela {
  width: 180px;
  height: 50px;
  background-color: #3f95c7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}
#btn_salas_tabela {
  width: 180px;
  height: 50px;
  background-color: #258832;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

#btn_del_tabela2 {
  width: 40px;
  height: 20px;
  background: transparent;
  color: black;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}
.trash {
  padding-right: 05px;
  padding-bottom: 30px;
}

#btn_edit {
  width: 100px;
  background-color: #09989b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

/*/ FORMAS DO INPUT /*/

.form-anosemestre {
  width: 50px;
  height: 30px;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border: 1px solid #ccc;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

.selectcurso {
  width: 493px;
  height: 40px;
  padding-left: 10px;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border: 1px solid #ccc;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 12px;

  margin-top: 5px;
  margin-left: 25px;
}
.selectturma {
  width: 493px;
  height: 40px;
  padding-left: 10px;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border: 1px solid #ccc;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 12px;

  margin-top: 5px;
  margin-left: 24px;
}

.selectdisciplina {
  width: 493px;
  height: 40px;
  padding-left: 10px;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border: 1px solid #ccc;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 12px;

  margin-top: 5px;
  margin-left: 5px;
}

.selectdocente {
  width: 493px;
  height: 40px;
  padding-left: 10px;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border: 1px solid #ccc;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 12px;

  margin-top: 5px;
  margin-left: 12px;
}
.form-local {
  width: 481px;
  height: 30px;
  padding-left: 10px;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border: 1px solid #ccc;
  font-family: Verdana, sans-serif;
  font-size: 12px;

  margin-top: 5px;
  margin-left: 92px;
}
.form-cargahoraria {
  width: 70px;
  height: 30px;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border: 1px solid #ccc;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  text-align: center;

  margin-top: 5px;
  margin-left: 45px;
}

.form-data {
  width: 130px;
  height: 30px;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border: 1px solid #ccc;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  text-align: center;

  margin-top: 5px;
  margin-left: 50px;
}

.selectturno {
  width: 493px;
  height: 40px;
  padding-left: 10px;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  border: 1px solid #ccc;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 12px;

  margin-top: 5px;
  margin-left: 25px;
}

.li_planejamentos_par {
  background: #f6f6f6;
  color: #484a4d;
  font-size: 10px;
  height: 100px;
  font-family: Verdana, sans-serif;
  text-align: center;
}
.li_planejamentos_impar {
  background: #fff;
  color: #484a4d;
  font-size: 10px;
  height: 100px;
  font-family: Verdana, sans-serif;
  text-align: center;
}
.li_planejamentos_par:hover {
  background: #e2e4e9;
  color: #484a4d;
} /*background: #A4D3EE;*/
.li_planejamentos_impar:hover {
  background: #e2e4e9;
  color: #484a4d;
}
#selectable {
  list-style-type: none;
  padding: 0;
  width: 1050px;
  color: white;
  overflow-x: hidden; /*17 px a menos doq a caixa*/
}
#selectable li {
  margin-bottom: 2px;
  padding: 0.4em;
  border-bottom: 0.1px solid #fff;
}

.iframe_planejamentos {
  overflow-x: hidden;
  width: 1050px;
  height: 450px;
  margin-top: -3px;
  margin-left: 15px;
  border: 1px solid #e6ecf8;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
}

.font_li {
  font-size: 10px;
  font-family: Verdana, sans-serif;
  line-height: 13px;
  text-align: center;
}
