.dia-livre {
    background-color: #ebffe3
}

.dia-ocupado {
    background-color: #fffae3
}

.n-confirmado {
    color: #ff3232;
    font-size: 6px;
    vertical-align: middle
}

.y-confirmado {
    color: green;
    font-size: 6px;
    vertical-align: middle
}

.w-confirmado {
    color: #ffc400;
    font-size: 6px;
    vertical-align: middle
}

.dia-normal {
    background-color: #d3d3d3
}

.table.reservation td,
.table.reservation th {
    padding: 2px;
    font-size: 14px;
    max-height: 32px
}

.linha-dia {
    background-color: #c9c9c9
}

.linha-dia~td {
    text-align: right;
    padding-right: 15px;
    font-weight: 800;
    font-size: 15px;
    background-color: #cacaca
}

th.linha-turno {
    padding: 5px
}

.linha-turno~td,
.linha-turno~td div {
    padding: 5px;
    font-size: 11px;
    line-height: 13px;
    width: 125px;
    max-width: 125px;
    max-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

tr.table-separador {
    background-color: #09989b;
}

tr.table-separador th {
    padding: 1px !important;
    border: 0 !important;
}

@media (max-width:768px) {
    .table-reserva {
        overflow-x: scroll;
        margin: 0 15px
    }
}

.table td,
.table th {
    vertical-align: middle
}
