{% extends "dashboard.base.html" %}
{% load static %}
{% load mathfilters %}
{% block styles %}
    <style>
        table.table {
            table-layout: fixed;
        }

        table.table th:nth-child(1) {
            width: 30px;
        }

        .datepicker-container {
            z-index: 1600 !important;
        }
    </style>
{% endblock styles %}
{% block content %}
    <div class="d-flex justify-content-between px-2">
        <span>
            <a class="btn btn-secondary rounded-0 m-0"
               data-toggle="modal"
               data-target="#add-material"
               role="button">
                <i class="fas fa-plus mr-2" aria-hidden="true"></i> Inserir material de consumo
            </a>
            <a class="btn btn-secondary rounded-0 m-0"
               href="{% url 'consumable_list' %}"
               role="button">
                <i class="fa-solid fa-list mr-2" aria-hidden="true"></i> Relação de itens
            </a>
        </span>
        <div>
            <form id="filters">
                <div class="form-row">
                    <div class="form-group col">
                        <input class="form-control rounded-0"
                               placeholder="Buscar"
                               type="text"
                               name="search"
                               data-filter/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr class="mt-0" />
    <div class="row">
        <div class="col-md-8">
            <div class="accordion">
                <div class="card rounded-0 mb-2">
                    <div class="card-header head-table border-0 rounded-0" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse"
                               data-target="#critical-materials-collapse"
                               aria-expanded="true"
                               aria-controls="critical-materials-collapse">
                                <b><i class="fas fa-exclamation-triangle mr-2"></i> Itens consumíveis em nível crítico:
                                    <span id="critical-materials-count"></span></b>
                            </a>
                        </h5>
                    </div>
                    <div id="critical-materials-collapse"
                         class="collapse show"
                         aria-labelledby="headingOne"
                         data-parent="#accordion">
                        <div class="card-body p-0" style="overflow-x: auto;">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr class="capt-table">
                                        <th class="border-0 text-center" scope="col"></th>
                                        <th class="border-0" scope="col">Nome</th>
                                        <th class="border-0" scope="col">Marca</th>
                                        <th class="border-0" scope="col">Validade</th>
                                        <th class="border-0" scope="col">Quantidade</th>
                                    </tr>
                                </thead>
                                <tbody id="critical-materials-list">
                                    {% comment %} AJAX {% endcomment %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="card-material" class="card rounded-0 my-2">
                    <div class="card-header head-table border-0 rounded-0" id="headingTwo">
                        <h5 class="mb-0">
                            <a data-toggle="collapse"
                               data-target="#materials-collapse"
                               aria-expanded="true"
                               aria-controls="materials-collapse">
                                <b><i class="fa-solid fa-mask-face mr-2"></i> Itens consumíveis disponíveis: <span id="material-count"></span></b>
                            </a>
                        </h5>
                    </div>
                    <div id="materials-collapse"
                         class="collapse show"
                         aria-labelledby="headingTwo"
                         data-parent="#accordion">
                        <div class="card-body p-0" style="overflow-x: auto;">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr class="capt-table">
                                        <th class="border-0 text-center" scope="col"></th>
                                        <th class="border-0" scope="col">Nome</th>
                                        <th class="border-0" scope="col">Marca</th>
                                        <th class="border-0" scope="col">Validade</th>
                                        <th class="border-0" scope="col">Quantidade</th>
                                    </tr>
                                </thead>
                                <tbody id="materials-list">
                                    {% comment %} AJAX {% endcomment %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="text-center w-100">
                                <button id="load-previous" class="btn rounded-0">
                                    <i class="fa-solid fa-circle-arrow-left"></i> Anterior
                                </button>
                                <button id="load-next" class="btn rounded-0">
                                    Próxima <i class="fa-solid fa-circle-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-group" id="details" style="display: none;opacity: 0;">
                <div class="card" style="width: 18rem;">
                    <div class="card-header head-table border-0 rounded-0">
                        <b><i class="fas fa-info mr-2"></i>Detalhes do Material</b>
                        <button id="details-dismiss" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-2">
                            <small>Nome:</small> <b data-attribute="name"></b>
                        </h5>
                        <p class="card-text m-0">
                            <small>Descrição:</small> <b data-attribute="description"></b>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p class="card-text m-0">
                                <small>Marca:</small> <b data-attribute="brand"></b>
                            </p>
                            <p class="card-text m-0">
                                <small>Quantidade:</small> <b data-attribute="quantity"></b> <span data-attribute="measure_unit"></span>
                            </p>
                            <p class="card-text m-0">
                                <small>
                                    Data de validade: <span date-format="DD/MM/YYYY" data-attribute="expiration"></span>
                                </small>
                            </p>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <small>Localização:</small> <b data-attribute="location"></b>
                            <small>
                                <p class="my-0">
                                    Recebido em: <span date-format="DD/MM/YYYY" data-attribute="received_at"></span>
                                </p>
                            </small>
                        </li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <small class="text-muted">Observações sobre o material:</small>
                            <textarea class="form-control mb-3"
                                      rows="4"
                                      placeholder="Escrever observação"
                                      data-attribute="comments"></textarea>
                            <a href="#"
                               class="btn mb-1 btn-outline-primary btn-sm"
                               id="patch-comment">Salvar observação <i class="fa-solid fa-floppy-disk"></i></a>
                        </li>
                    </ul>
                    <div id="accordion">
                        <div class="card rounded-0">
                            <div class="card-header" id="card-material-history">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse"
                                       data-target="#collapse-material-history"
                                       aria-expanded="true"
                                       aria-controls="collapse-material-history">
                                        Histórico <i class="fas fa-history" aria-hidden="true"></i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-material-history"
                                 class="collapse"
                                 aria-labelledby="card-material-history"
                                 data-parent="#accordion">
                                <div id="material-history"
                                     class="card-body"
                                     style="max-height: 200px;
                                            overflow-y: scroll"></div>
                            </div>
                        </div>
                        <div class="card rounded-0">
                            <div class="card-header" id="card-actions">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse"
                                       data-target="#collapse-actions"
                                       aria-expanded="true"
                                       aria-controls="collapse-actions">
                                        Ações <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-actions"
                                 class="collapse"
                                 aria-labelledby="card-actions"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <button class="btn btn-danger"
                                            data-toggle="modal"
                                            data-target="#deleteConfirm">
                                        Apagar <i class="fas fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-top-0">
                        <p class="m-0">
                            <small class="text-muted">Data de criação: <span date-format="DD/MM/YYYY HH:mm" data-attribute="created"></span></small>
                        </p>
                        <p class="m-0">
                            <small class="text-muted">Ultima Alteração: <span date-format="DD/MM/YYYY HH:mm" data-attribute="modified"></span></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="deleteConfirm" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja apagar este material?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button id="delete-material"
                            type="button"
                            class="btn btn-danger"
                            data-dismiss="modal">
                        Apagar <i class="fas fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="add-material" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Inserir novo material de consumo
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fas fa-times" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" id="create-material-form">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="C"/>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label>
                                    <b>Nome</b>
                                </label>
                                <input class="form-control rounded-0" type="text" name="name"/>
                                <div class="invalid-feedback" for="name">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>
                                    Marca
                                </label>
                                <input class="form-control rounded-0" type="text" name="brand" id="brand"/>
                                <div class="invalid-feedback" for="brand">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>
                                    <b>Descrição</b>
                                </label>
                                <textarea class="form-control rounded-0"
                                          name="description"
                                          id="description"
                                          rows="5"></textarea>
                                <div class="invalid-feedback" for="description">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>
                                    <b>Quantidade</b>
                                </label>
                                <input class="form-control rounded-0" type="number" name="quantity"/>
                                <div class="invalid-feedback" for="quantity">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>
                                    Unidade de armazenamento
                                </label>
                                <input class="form-control rounded-0"
                                       placeholder="Ex. Unidades, caixas, etc."
                                       type="text"
                                       name="measure_unit"/>
                                <div class="invalid-feedback" for="measure_unit">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>
                                    Data de validade
                                </label>
                                <input class="form-control rounded-0 mb-1"
                                       name="expiration"
                                       data-mask="00-00-0000"
                                       data-toggle="datepicker"
                                       required
                                       autocomplete="off"
                                       maxlength="10"
                                       date-field/>
                                <div class="invalid-feedback" for="expiration">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>
                                    <b>Quantidade crítica</b>
                                </label>
                                <input type="number" class="form-control rounded-0" name="alert_below"/>
                                <small class="text-muted m-0">
                                    Por padrão, esse campo é 25% da quantidade do material
                                </small>
                                <div class="invalid-feedback" for="alert_below">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>
                                    Data de entrada no sistema
                                </label>
                                <input class="form-control rounded-0 mb-1"
                                       name="received_at"
                                       data-mask="00-00-0000"
                                       data-toggle="datepicker"
                                       required
                                       autocomplete="off"
                                       maxlength="10"
                                       date-field/>
                                <div class="invalid-feedback" for="received_at">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>
                                    Localização
                                </label>
                                <input type="text"
                                       class="form-control rounded-0"
                                       name="location"
                                       placeholder="Localização"
                                       required/>
                                <div class="invalid-feedback" for="location">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>
                                    Observações
                                </label>
                                <textarea class="form-control rounded-0" name="comments" id="comments" rows="5"></textarea>
                                <div class="invalid-feedback" for="comments">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button id="create-material" type="button" class="btn btn-primary">
                        Salvar <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'assets/dashboard/laboratorio/consumiveis/js/dashboard.js' %}"></script>
{% endblock scripts %}
