{% extends "dashboard.base.html" %}
{% load static %}
{% load mathfilters %}
{% block styles %}
    <style>
        th {
            padding: 4px !important;
        }
    </style>
{% endblock styles %}
{% block content %}
    <!-- your_template.html -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Produto</th>
                {% for month in months %}<th style="text-align: center;" colspan="2">{{ month }}</th>{% endfor %}
            </tr>
            <tr>
                <th></th>
                {% for month in months %}
                    <th>Entrada</th>
                    <th>Saída</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for material_report in report %}
                <tr>
                    <td>
                        <b>{{ material_report.name }}</b>
                    </td>
                    {% for month_report in material_report.data %}
                        <td>{{ month_report.highs|default_if_none:0 }}</td>
                        <td>{{ month_report.lows|default_if_none:0 }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
