{% extends "base.pagina.html" %}

{% block title %}Conteúdo Oculto{% endblock title %}

{% block content %}
<article>
    <div class="container mt-5 text-center cabecalho">
        <h3>Período Eleitoral</h3>
        <hr class="hr-escuro mt-5">
    </div>
    <div class="container mt-4 corpo">
        <p style="text-align: center;">Informamos que este conteúdo está temporariamente suspenso para cumprimento da
            Lei das Eleições (Lei nº 9.504/1997), que restringe a publicidade institucional neste período. O conteúdo
            retornará após o fim das eleições.</p>
    </div>
    <div class="container text-right">
        <hr class="hr-escuro my-5"><a class="text-uppercase text-dark" href="#">Voltar ao topo <i
                class="fas fa-arrow-alt-circle-up"></i></a>
    </div>
</article>
{% endblock content %}