{% extends "base.pagina.html" %}
{% load static %}
{% block content %}
    <article>
        <div class="container mt-5 text-center cabecalho">
            <h3>Sobre o Ensino</h3>
            <hr class="hr-escuro mt-5"/>
        </div>
        <div class="container mt-4 corpo text-justify">
            <p>
                &ensp;&ensp;&ensp;A Escola de Saúde oferece cursos nas modalidades presencial, semipresencial e de Educação à
                Distância nos níveis: técnicos e pós-técnicos; de graduação e pós-graduação de forma regular e por meio de
                programas de formação inicial e continuada de trabalhadores.
                Os cursos técnicos ofertados atualmente de forma regular são: Técnico em Agente Comunitário de Saúde; Técnico em
                Enfermagem; Técnico em Registro e Informações em Saúde; Técnico em Vigilância em Saúde e Técnico em
                Massoterapia, através de processo seletivo anual desenvolvido pelo Núcleo Permanente de Concursos da UFRN
                (Comperve). As ofertas de cursos pós-técnicos são oferecidas de forma sazonal, por demanda.
                No nível de graduação, dispõe do Curso Superior de Tecnologia em Gestão Hospitalar com entrada por meio do Exame
                Nacional do Ensino Médio (ENEM) e do Sistema de Seleção Unificada (SISU).
            </p>
            <p>
                &ensp;&ensp;&ensp;Na pós-graduação Stricto Sensu, a Escola de Saúde da UFRN oferta o Mestrado Profissional em
                Práticas de Saúde e Educação com seleção anual por meio do Programa de Pós-Graduação em Saúde e Sociedade
                (PPGSES). Já em nível Lato Sensu, oferta, por demanda, especializações variadas nas áreas de Assistência em
                Saúde e Gestão em Saúde.
            </p>
            <p>
                &ensp;&ensp;&ensp;Além do desenvolvimento de suas atividades regulares, a ESUFRN partiicpa de programas e
                projetos de formação e de educação permanente junto ao Ministério da Educação (MEC) e Ministério da Saúde (MS).
                Neste contexto, a Escola busca estabelecer relações de parcerias com instituições públicas e privadas, através
                de contratos e convênios, visando o desenvolvimento da Educação Profissional em Saúde, na oferta de programas e
                projetos de formação e educação permanente, de estudos e pesquisas, de cooperação técnica e outras atividades
                que contribuam para a realização da sua missão social.
            </p>
        </div>
        <div class="container text-right">
            <hr class="hr-escuro my-5"/>
            <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class="fas fa-arrow-alt-circle-up"></i></a>
        </div>
    </article>
{% endblock content %}
