{% extends "base.pagina.html" %}
{% load static %}
{% load mytags %}
{% block styles %}
    <style>
        .secondary {
            background-color: #0b3e61 !important;
        }

        footer {
            background-color: #0b3e61 !important;
        }

        .dropdown-item.active,
        .dropdown-item:active,
        .dropdown-item.hover,
        .dropdown-item:hover {
            background-color: #082f49;
        }

        .dropbtn {
            background-color: transparent;
            border: none;
        }
        .custom-dropdown {
            position: relative;
            display: inline-block;
        }

        .custom-dropdown-menu {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            border-color: rgba(0,0,0,0.15);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .custom-dropdown-menu a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .custom-dropdown-menu a:hover {
            background-color: #ddd;
        }

        .custom-dropdown:hover .custom-dropdown-menu {
            display: block;
            margin-top: 0;
        }

        .custom-dropdown:hover {
            cursor:pointer;
        }
        a.active{
            font-weight: bold;
        }
    </style>
{% endblock styles %}
{% block content %}
    <article>
        <div class="container my-4 cabecalho cat-inner">
            <div class="d-inline mr-4">
                EXIBINDO&nbsp;
                <div class="dropdown custom-dropdown d-inline">
                    <button class="dropbtn m-0 p-0">
                        <b>
                            {% if request.GET.category %}
                                {{ request.GET.category|upper }}S
                            {% else %}
                                TUDO
                            {% endif %}
                            <i class="fas fa-solid fa-caret-down"></i>
                        </b>
                    </button>
                    <div class="dropdown-menu custom-dropdown-menu">
                        <div class="text-center text-muted my-2">FILTRAR POR</div>
                        {% with category=request.GET.category period=request.GET.period|getparam:'period' %}
                            <a class="{{ category|active }}"
                               href="{% url 'principal:noticias' %}?{{ period }}">Tudo</a>
                            <a class="{{ category|active:'concurso' }}"
                               href="{% url 'principal:noticias' %}?category=concurso{{ period }}">Concurso</a>
                            <a class="{{ category|active:'evento' }}"
                               href="{% url 'principal:noticias' %}?category=evento{{ period }}">Evento</a>
                            <a class="{{ category|active:'noticia' }}"
                               href="{% url 'principal:noticias' %}?category=noticia{{ period }}">Notícia</a>
                            <a class="{{ category|active:'processo' }}"
                               href="{% url 'principal:noticias' %}?category=processo{{ period }}">Processo seletivo</a>
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="d-inline mr-4">
                <div class="dropdown custom-dropdown">
                    <button class="dropbtn m-0 p-0">
                        <b>
                            FILTRAR POR DATA
                            <i class="fas fa-solid fa-caret-down"></i>
                        </b>
                    </button>
                    <div class="dropdown-menu custom-dropdown-menu">
                        {% load mytags %}
                        <div class="text-center text-muted my-2">POR PERÍODO</div>
                        {% with period=request.GET.period category=request.GET.category|getparam:'category' %}
                            <a class="{{ period|active }}"
                               href="{% url 'principal:noticias' %}?{{ category }}">Em qualquer data</a>
                            <a class="{{ period|active:'hora' }}"
                               href="{% url 'principal:noticias' %}?period=hora{{ category }}">Na última hora</a>
                            <a class="{{ period|active:'dia' }}"
                               href="{% url 'principal:noticias' %}?period=dia{{ category }}">Nas últimas 24 horas</a>
                            <a class="{{ period|active:'semana' }}"
                               href="{% url 'principal:noticias' %}?period=semana{{ category }}">Na última semana</a>
                            <a class="{{ period|active:'mes' }}"
                               href="{% url 'principal:noticias' %}?period=mes{{ category }}">No último mês</a>
                            <a class="{{ period|active:'ano' }}"
                               href="{% url 'principal:noticias' %}?period=ano{{ category }}">No último ano</a>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        {% if news %}
            <div class="container">
                {% for i in news %}
                    <div class="row my-2">
                        <div class="col-lg-2 align-self-center text-center">
                            <img src="{% if i.image %}{{ i.image.url }}{% endif %}"
                                 style="object-fit: cover;"
                                 width="100%"
                                 height="120px"
                                 onerror="this.src='https://images2.imgbox.com/02/21/d1mWMGt6_o.png'"/>
                        </div>
                        <div class="col-lg-10 align-self-center item-noticia pl-lg-0">
                            <p class="mb-1 text-dark">{{ i.modified_at|date:"d/m/y H:i" }}</p>
                            <a href="{{ i.get_absolute_url }}">
                                <h2>{{ i.title }}</h2>
                            </a>
                            {% if i.category == "evento" %}
                                <p class="text-muted resumo">Data do evento: {{ i.event_date|date:'d N Y' }}</p>
                            {% endif %}
                            <p class="text-muted resumo">{{ i.subtitle }}</p>
                        </div>
                    </div>
                    {% if not forloop.last %}<hr class="hr-escuro"/>{% endif %}
                {% endfor %}
            </div>
            <!-- PAGINADOR -->
            <div class="container text-center text-uppercase mt-4">
                {% with period=request.GET.period|getparam:'period' category=request.GET.category|getparam:'category' %}
                    {% if pag > 4 %}
                        <a class="a-clear mx-1"
                           href="{% url 'principal:noticias' %}?page=1{{ category }}{{ period }}">
                            <button class="btn btn-outline-dark rounded-circle btn-pagination {{ pag|active:'1' }}">
                                <p>1</p>
                            </button>
                        </a>
                        <button class="mx-1 btn btn-outline-dark rounded-circle btn-pagination">
                            <p>...</p>
                        </button>
                    {% endif %}
                    {% for i in rng %}
                        <a class="a-clear mx-1"
                           href="{% url 'principal:noticias' %}?page={{ i }}{{ category }}{{ period }}">
                            <button class="btn btn-outline-dark rounded-circle btn-pagination {{ pag|active:i }}">
                                <p>{{ i }}</p>
                            </button>
                        </a>
                    {% endfor %}
                    {% if pag|add:3 < total %}
                        <button class="mx-1 btn btn-outline-dark rounded-circle btn-pagination">
                            <p>...</p>
                        </button>
                        <a class="a-clear mx-1"
                           href="{% url 'principal:noticias' %}?page={{ total }}{{ category }}{{ period }}">
                            <button class="btn btn-outline-dark rounded-circle btn-pagination {{ pag|active:total }}">
                                <p>{{ total }}</p>
                            </button>
                        </a>
                    {% endif %}
                {% endwith %}
            </div>
        {% else %}
            <div class="container text-center my-5">
                <h2 class="mb-5">Nenhuma notícia foi encontrada!</h2>
                <hr class="hr-escuro my-4"/>
            </div>
        {% endif %}
        <div class="container text-right text-uppercase mt-5">
            <a href="#" class="text-dark">Voltar ao topo <i class="fas fa-arrow-alt-circle-up"></i></a>
        </div>
    </article>
{% endblock content %}
{% block scripts %}
    <script>
		var font_base = {};
		function mudaFonte(escala) {
			var font_aumenta = { ".cabecalho h3": "", ".cabecalho h4": "", "a.badge-pill": "", ".item-noticia p.text-dark": "", ".item-noticia h2": "", ".item-noticia .resumo": "" };
			$.each(font_aumenta, function (i, v) {
				font_aumenta[i] = $(i).css("font-size")
				font_aumenta[i] = font_aumenta[i].substring(0, font_aumenta[i].length - 2).toString();
			});
			jQuery.isEmptyObject(font_base) ? font_base = font_aumenta : NaN
			if (escala == 1) {
				$.each(font_aumenta, function (i, v) {
					$(i).css({ "font-size": v * 0.8 })
				});
			} else if (escala == 2) {
				$.each(font_aumenta, function (i, v) {
					$(i).css({ "font-size": v * 1.3 })
				});
			} else {
				$.each(font_base, function (i, v) {
					$(i).css({ "font-size": v * 1 })
				});
			}
		}
    </script>
{% endblock scripts %}
