{% extends "base.pagina.html" %}
{% load static %}
{% block styles %}
    <style>
    .documentos {
        color: #ffffff;
        background-color: #0b3e61;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
    }
    </style>
{% endblock styles %}
{% block content %}
    <article>
        <div class="container mt-5 text-center cabecalho">
            <h3>Documentos</h3>
            <hr class="hr-escuro mt-5"/>
        </div>
        <div class="container mt-4">
            <div id="accordion">
                <div class="row">
                    {% for categoria in categorias %}
                        <div class="col-6 mb-2">
                            <div class="card">
                                {% with collapseid="collapse-"|add:categoria.main|cut:' '|lower %}
                                    <div class="card-header documentos" id="heading-{{ collapseid }}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-light"
                                                    data-toggle="collapse"
                                                    data-target="#{{ collapseid }}"
                                                    aria-expanded="true"
                                                    aria-controls="{{ collapseid }}">
                                                {{ categoria.main }}
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="{{ collapseid }}"
                                         class="collapse show"
                                         aria-labelledby="heading-{{ collapseid }}">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th style="white-space: nowrap;">Data do documento</th>
                                                            <th style="white-space: nowrap;">Nome do documento</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for documento in categoria.documentos %}
                                                            <tr>
                                                                <td style="white-space: nowrap;">{{ documento.date|date:"d/m/Y" }}</td>
                                                                <td style="white-space: nowrap;">
                                                                    {% if documento.document_type == "arquivo" %}
                                                                        <a target="_blank" href="{{ documento.file.url }}">{{ documento.name }}</a>
                                                                    {% elif documento.document_type == "link" %}
                                                                        <a target="_blank" href="{{ documento.link }}">{{ documento.name }}</a>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container text-right">
            <hr class="hr-escuro my-5"/>
            <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class="fas fa-arrow-alt-circle-up"></i></a>
        </div>
    </article>
{% endblock content %}
