<footer class="mt-5 pt-4">

	<div class="container text-white social-media">
		<h5>Redes Sociais</h5>
		<a target="_blank" href="https://www.facebook.com/escoladesaudeufrn"><i
				class="fab fa-facebook text-white"></i></a>
		<a target="_blank" href="https://www.youtube.com/channel/UCvSA9aC-dmOoQJXbLi_e4cw"><i
				class="fab fa-youtube text-white"></i></a>
		<a target="_blank" href="https://www.instagram.com/esufrn/?hl=pt"><i
				class="fab fa-instagram text-white"></i></a>
		<hr>
	</div>

	<div class="container text-white social-media">
		<h5>Envie uma mensagem</h5>

		<form action="." method="POST" class="row" style="padding: 0px 20px" autocomplete="off">
			{% csrf_token %}
			<div class="col-md-3">
				<!-- <input name="nome" type="text" placeholder="Nome"> -->
				{{ form.name }}

			</div>
			<div class="col-md-3">
				<!-- <input name="contato" type="text" placeholder="Contato"> -->
				{{ form.contact }}

			</div>
			<div class="col-md-4">
				<!-- <input name="mensagem" type="text" placeholder="Mensagem"> -->
				{{ form.message }}
			</div>
			<div class="col-md-2">
				<button name="contato">Enviar</button>
			</div>
		</form>
		<hr class="mt-4">
	</div>



	<div class="container text-white pt-4 link-resumo">
		<div class="">
			<h5>Intitucional</h5>
			<a href="">
				<p>Trajetória Histórica</p>
			</a>
			<a href="">
				<p>Equipe ESUFRN</p>
			</a>
			<a href="">
				<p>Contato</p>
			</a>
		</div>
		<div class="">
			<h5>Ensino</h5>
			<a href="">
				<p>Técnicos | Pós-Técnicos</p>
			</a>
			<a href="">
				<p>Graduação Tecnológica</p>
			</a>
			<a href="">
				<p>Especialização Lato Senso</p>
			</a>
			<a href="">
				<p>Mestrado Profissional</p>
			</a>
			<a href="">
				<p>Pronatec-FIC | Pronatec-Técnicos</p>
			</a>
		</div>
		<div class="">
			<h5>Biblioteca</h5>
			<a href="">
				<p>Serviços Oferecidos</p>
			</a>
			<a href="">
				<p>Manual do Usuário</p>
			</a>
			<a href="">
				<p>Catálogo Online e Horário de Funcionamento</p>
			</a>
		</div>
		<div class="">
			<h5>Informática</h5>
			<a href="">
				<p>Chamado Suporte</p>
			</a>
			<a href="">
				<p>Reservas</p>
			</a>
			<a href="">
				<p>ESUFRN Facebook</p>
			</a>
			<a href="">
				<p>Webmail</p>
			</a>
		</div>
		<div class="">
			<h5>Concursos e Processos Seletivos</h5>
			<a href="">
				<p>Concursos Abertos</p>
			</a>
			<a href="">
				<p>Concursos Finalizados</p>
			</a>
			<a href="">
				<p>Processos Seletivos Abertos</p>
			</a>
			<a href="">
				<p>Processos Seletivos Finalizados</p>
			</a>
		</div>

		<hr>
	</div>

	<div class="container mt-4">
		<div class="row text-white text-center link-info">
			<div class="col-md-6">
				<p>E-mail: esufrn@es.ufrn.br</p>
				<p>Sec. Direção: 3342-2290/R100</p>
			</div>
			<div class="col-md-6">
				<p>Sec. Direção Ensino: 3342-2290/R101</p>
				<p>tecnico.esufrn@gmail.com</p>
			</div>
		</div>
	</div>

	<div class="container text-center mt-4">
		<a href=""><img src="/static/assets/images/logotipo_ufrn_esufrn.low.png" alt="Logo suporte ESUFRN "></a>
		<!-- <p style="font-size: 12px; color: white; margin-bottom: 0; padding-bottom: 5px;">O visual deste site foi baseado no <a class="text-white" href="http://portalpadrao.gov.br/" target="_blank">Portal Padrão</a> </p> -->
	</div>

</footer>