<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include "base.header.html" %}
</head>

<body>
  <!-------- Barra Governo -------->
  {% include "base.governo.html" %}
  <!-------- Home -------->
  <div class="background-home">
    <!-- Navbar -->
    <div id="nav-box" class="pt-3 w-100 secondary">
      {% include "base.acessibilidade.html" %}
      <!--  -->
      {% include "base.navbar.html" %}
    </div>
  </div>


  <!-------- Conteúdo -------->

  <nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb px-0 mb-0">
      <li class="breadcrumb-item"><a href="/"><i class='fas fa-home'></i>
        </a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="#">Biblioteca</a></li>
      <li class="breadcrumb-item active" aria-current="page">Catálogo Online</li>
    </ol>
    <hr class="hr-escuro mt-0">
  </nav>

  <article>

    <div class="container mt-5 text-center cabecalho">
      <h3>Catálogo Online</h3>
      <hr class="hr-escuro mt-5">
    </div>

    <div class="container mt-4 corpo">

      <h3>
        <b>
          Buscas
        </b>
      </h3><br>
      <h4>
        Para buscas online por livros, <a href="https://sigaa.ufrn.br/sigaa/public/biblioteca/buscaPublicaAcervo.jsf"
          target="_blank" rel="noopener noreferrer"> Clique aqui</a>.
      </h4>
      <h4>
        Mais informações, <a href="http://sisbi.ufrn.br/bczm/" target="_blank" rel="noopener noreferrer"> Clique
          aqui</a>.
      </h4>

      <br><br><br>

      <h3><b>Horário de Funcionamento</b></h3>
      <br>
      <h4>Horário de Funcionamento: Segunda à Sexta-Feira, das 7h30 às 21h.</h4>
      <h4>Tel/Fax: (84) 3215-3669</h4>
      <h4>Email: biblioteca@es.ufrn.br</h4>
    </div>

    <div class="container text-right">
      <hr class="hr-escuro my-5">
      <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class='fas fa-arrow-alt-circle-up'></i></a>
    </div>
  </article>


  <!-------- Footer -------->
  {% include "base.footer.html" %}
  <!-------- Javascript -------->
  {% include "base.scripts.html" %}
</body>

</html>