<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include "base.header.html" %}
</head>

<body>
  <!-------- Barra Governo -------->
  {% include "base.governo.html" %}
  <!-------- Home -------->
  <div class="background-home">
    <!-- Navbar -->
    <div id="nav-box" class="pt-3 w-100 secondary">
      {% include "base.acessibilidade.html" %}
      <!--  -->
      {% include "base.navbar.html" %}
    </div>
  </div>


  <!-------- Conteúdo -------->

  <nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb px-0 mb-0">
      <li class="breadcrumb-item"><a href="/"><i class='fas fa-home'></i>
        </a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="#">Biblioteca</a></li>
      <li class="breadcrumb-item active" aria-current="page">Serviços Oferecidos</li>
    </ol>
    <hr class="hr-escuro mt-0">
  </nav>

  <article>

    <div class="container mt-5 text-center cabecalho">
      <h3>Serviços Oferecidos</h3>
      <hr class="hr-escuro mt-5">
    </div>

    <div class="container mt-4 corpo">

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p>– Acervo para consulta e empréstimo formado por cerca de cinco mil títulos e 12 mil exemplares (Livros
            impressos; Multimeios (CDs e DVDs); Periódicos; Literatura; Publicações da UFRN; Referência (Dicionário,
            enciclopédias etc); Livros eletrônicos e Folhetos;</p>
        </li>
        <li class="list-group-item">
          <p>– Balcão de circulação: Consultas, Empréstimos, Renovações e Devoluções do acervo;</p>
        </li>
        <li class="list-group-item">
          <p>– Mesas para estudo em grupo;</p>
        </li>
        <li class="list-group-item">
          <p>– Guarda-volumes;</p>
        </li>
        <li class="list-group-item">
          <p>– Catalogação na fonte;</p>
        </li>
        <li class="list-group-item">
          <p>– Orientação bibliográfica (Normalização);</p>
        </li>
        <li class="list-group-item">
          <p>– Visita dirigida;</p>
        </li>
        <li class="list-group-item">
          <p>– Orientação à pesquisa acadêmica;</p>
        </li>
        <li class="list-group-item">
          <p>– Empréstimo entre Bibliotecas;</p>
        </li>
        <li class="list-group-item border-bottom-0">
          <p>– Solicitação de aquisição de material para a formação de coleção (SIGAA).</p>
        </li>
      </ul>

      <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-6 mt-3">
          <img class="img-thumbnail rounded-0" src="/media/files/biblioteca1.jpg"
            alt="Biblioteca setorial ESUFRN - Professora Bertha Cruz Enders">
        </div>
        <div class="col-md-6 mt-3">
          <img class="img-thumbnail rounded-0" src="/media/files/biblioteca2.jpg"
            alt="Biblioteca setorial ESUFRN - Professora Bertha Cruz Enders">
        </div>
        <div class="col-md-6 mt-3">
          <img class="img-thumbnail rounded-0" src="/media/files/biblioteca3.jpg"
            alt="Biblioteca setorial ESUFRN - Professora Bertha Cruz Enders">
        </div>
        <div class="col-md-6 mt-3">
          <img class="img-thumbnail rounded-0" src="/media/files/biblioteca4.jpg"
            alt="Biblioteca setorial ESUFRN - Professora Bertha Cruz Enders">
        </div>
        <div class="col-md-6 mt-3">
          <img class="img-thumbnail rounded-0" src="/media/files/biblioteca5.jpg"
            alt="Biblioteca setorial ESUFRN - Professora Bertha Cruz Enders">
        </div>
      </div>

    </div>

    <div class="container text-right">
      <hr class="hr-escuro my-5">
      <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class='fas fa-arrow-alt-circle-up'></i></a>
    </div>
  </article>


  <!-------- Footer -------->
  {% include "base.footer.html" %}
  <!-------- Javascript -------->
  {% include "base.scripts.html" %}
</body>

</html>