<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include "base.header.html" %}
</head>

<body>
  <!-------- Barra Governo -------->
  {% include "base.governo.html" %}
  <!-------- Home -------->
  <div class="background-home">
    <!-- Navbar -->
    <div id="nav-box" class="pt-3 w-100 secondary">
      {% include "base.acessibilidade.html" %}
      <!--  -->
      {% include "base.navbar.html" %}
    </div>
  </div>


  <!-------- Conteúdo -------->

  <nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb px-0 mb-0">
      <li class="breadcrumb-item"><a href="/"><i class='fas fa-home'></i>
        </a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="#">Biblioteca</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sobre</li>
    </ol>
    <hr class="hr-escuro mt-0">
  </nav>

  <article>

    <div class="container mt-5 text-center cabecalho">
      <h3>Sobre a Biblioteca</h3>
      <hr class="hr-escuro mt-5">
    </div>

    <div class="container mt-4 corpo text-justify">

      <br>
      <h4 class="font-weight-bold text-center">Biblioteca Setorial Especializada Professora Bertha Cruz Enders</h4>
      <br>
      <p>
        A implantação da Biblioteca Setorial Especializada– Professora Bertha Cruz Enders reflete a história de criação
        da
        Escola de Enfermagem de Natal (atual Escola de Saúde da UFRN) em 1955, sua posterior incorporação à UFRN e
        também
        a concepção dos Departamentos de Graduação e Pós-Graduação em Enfermagem, em 1973 e 1995 respectivamente.
      </p>
      <p>
        A gradual expansão do ensino em Enfermagem tornou necessária a criação de um espaço único onde pudessem ser
        disponibilizados todos os títulos que foram sendo adquirido ao longo dos anos, e que vinham sendo mantidos nas
        salas dos professores; bem como atendesse à procura crescente deste material por alunos e docentes dos três
        níveis
        de ensino em Enfermagem da Universidade.
      </p>
      <p>
        As coordenadoras da época: Profª Edilene Rodrigues da Silva, da Escola de Enfermagem de Natal; Profª Hylarina
        Maria Montenegro Diniz Silva, Chefe do Departamento de Enfermagem e Profª Soraya Maria de Medeiros, da
        Pós-Graduação em Enfermagem, decidiram então pela unificação dos acervos, através da criação de uma Biblioteca
        Setorial.
      </p>
      <p>
        Um parecer para a unificação dos acervos foi então solicitado à direção da Biblioteca Central Zila Mamede –
        BCZM,
        o qual foi concedido após o pedido atender a todos os requisitos necessários sugeridos pela direção da
        Biblioteca
        Central. Posteriormente, a requisição foi encaminhada ao Reitor Profº José Ivonildo do Rêgo que deferiu o
        pedido.
      </p>
      <p>
        Em 2008, deu-se início a um processo de reconfiguração que compreendeu a união dos acervos do chamado Complexo
        de
        Enfermagem. Iniciaram-se as atividades de seleção, tombamento, tratamento descritivo e temático, preparação
        final
        do material informacional, além da automação dos serviços. O atendimento ao público era feito através de
        empréstimos domiciliares aos professores e fotocópias aos alunos, ainda fora do Sistema de Bibliotecas da UFRN
        (SISBI), e realizado em um espaço físico único, com 34,22 m², no local onde hoje funciona o Auditório Oscarina
        Saraiva Coelho.
      </p>
      <p>
        Em janeiro de 2009, uma grande reforma teve início para a construção da atual estrutura da biblioteca,
        inaugurada
        no dia 13 de agosto de 2009. Com uma área física de 107,54 m², o espaço possibilita o estudo individual ou em
        grupo; acesso à internet nos terminais próprios da Biblioteca; realizar buscas no acervo da Universidade que
        estão
        no SISBI e retirar materiais emprestados seguindo as normas do sistema; além da prestação de serviços
        específicos
        pela equipe responsável pelo setor.
      </p>
      <p>
        Atualmente, seu acervo é considerado multidisciplinar e contém títulos das mais diversas áreas do conhecimento,
        como Educação, Administração, Contabilidade, literatura, dentre outros, para atender às necessidades de expansão
        da Escola de Saúde que ampliou suas atividades de ensino, pesquisa e extensão ao ponto de não mais caber na
        denominação vinculada exclusivamente ao ensino técnico da Enfermagem, tornando-se Unidade Acadêmica
        Especializada
        em Saúde da UFRN.
      </p>

    </div>

    <div class="container text-right">
      <hr class="hr-escuro my-5">
      <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class='fas fa-arrow-alt-circle-up'></i></a>
    </div>
  </article>


  <!-------- Footer -------->
  {% include "base.footer.html" %}
  <!-------- Javascript -------->
  {% include "base.scripts.html" %}
</body>

</html>