{% extends "base.pagina.html" %}
{% load static %}
{% block styles %}
{% endblock styles %}
{% block content %}
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb px-0 mb-0">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item" aria-current="page">Ensino</li>
            <li class="breadcrumb-item active" aria-current="page">Pronatec</li>
        </ol>
        <hr class="hr-escuro mt-0"/>
    </nav>
    <article>
        <div class="container mt-5 text-center cabecalho">
            <h3>Pronatec</h3>
            <hr class="hr-escuro mt-5"/>
        </div>
        <div class="container mt-4 corpo">
            <h3>
                <b>Pronatec na Escola</b>
            </h3>
            <br/>
            <p>
                A Escola de Saúde também oferece cursos de qualificação profissional através da oferta de cursos técnicos com
                duração
                média de um ano e meio e de cursos de Formação Inicial e Continuada (FIC), com carga horária variando entre 160
                e 320
                horas através do Programa Nacional de Acesso ao Ensino Técnico e Emprego (Pronatec),
            </p>
            <p>
                A iniciativa que ocorre desde o ano de 2011, vem se configurando como uma experiência exitosa que já
                possibilitou o
                resgate da autoestima e da cidadania, inserção no mercado de trabalho e inclusão sócio-educativa de cerca de
                4.520
                alunos em 31 cursos de Formação Inicial e Continuada e 08 cursos Técnicos realizados através da Bolsa-Formação.
            </p>
            <p>
                Os cursos são ministrados através de metodologias ativas, tais como aulas práticas e teórico-práticas,
                seminários,
                palestras, dramatizações, visitas técnicas e exposições dialogadas, tendo por base a concepção do aluno
                construtor do
                seu conhecimento a partir da sua participação ativa.
            </p>
            <p>
                A oferta de cursos atende como público alvo prioritário os estudantes do ensino médio da rede pública,
                inclusive da
                Educação de Jovens e Adultos, trabalhadores, beneficiários dos programas federais de transferência de renda e
                grupos em
                situação de vulnerabilidade social.
            </p>
            <br/>
            <h3>
                <b>Cursos Técnicos Pronatec</b>
            </h3>
            <br/>
            <p>– Técnico em Estética (Pronatec)</p>
            <p>– Técnico em Análises Clínicas (Pronatec)</p>
            <p>– Técnico em Segurança do Trabalho (Pronatec)</p>
            <p>– Técnico em Saúde Bucal (Pronatec)</p>
            <p>– Técnico em Manutenção e Suporte em Informática (Pronatec)</p>
        </div>
        <div class="container text-right">
            <hr class="hr-escuro my-5"/>
            <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class="fas fa-arrow-alt-circle-up"></i></a>
        </div>
    </article>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
