<!DOCTYPE html>
<html lang="pt-br">
    <head>{% include "base.head.html" %}</head>
    <body>
        <!-------- Barra Governo -------->
        {% include "base.governo.html" %}
        <!-------- Home -------->
        <div class="background-home">
            <!-- Navbar -->
            <div id="nav-box" class="pt-3 w-100 secondary">
                {% include "base.acessibilidade.html" %}
                <!--  -->
                {% include "base.navbar.html" %}
            </div>
        </div>
        <!-------- Conteúdo -------->
        <nav aria-label="breadcrumb" class="container">
            <ol class="breadcrumb px-0 mb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}"><i class="fas fa-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Notícias</li>
        </ol>
        <hr class="hr-escuro mt-0"/>
    </nav>
    <article>
        <div class="container mt-4 cabecalho cat-inner">
            <h3 class="text-center">Notícias</h3>
            <hr class="hr-escuro mt-4 mb-4"/>
            <h4 class="text-dark mb-3">
                <b>Categorias:</b>
            </h4>
            <a id="cat-tud"
               class="btn badge-pill btn-primary my-2 mr-2"
               href="{% url 'noticias' %}">Tudo</a>
            <a id="cat-con"
               class="btn badge-pill btn-primary m-2"
               href="{% url 'noticias' %}?category=concurso">Concurso</a>
            <a id="cat-eve"
               class="btn badge-pill btn-primary m-2"
               href="{% url 'noticias' %}?category=evento">Evento</a>
            <a id="cat-not"
               class="btn badge-pill btn-primary m-2"
               href="{% url 'noticias' %}?category=noticia">Notícia</a>
            <a id="cat-pro"
               class="btn badge-pill btn-primary m-2"
               href="{% url 'noticias' %}?category=processo">Processo</a>
            <hr class="hr-escuro mt-4"/>
        </div>
        {% if status == "sucesso" %}
            <div class="container">
                {% for i in news %}
                    <div class="item-noticia mt-4">
                        <p class="mb-1 text-dark">{{ i.modified_at|date:"d/m/y H:i" }}</p>
                        <a href="{{ i.get_absolute_url }}">
                            <h2>{{ i.title }}</h2>
                        </a>
                        <p class="text-muted resumo">{{ i.subtitle }}</p>
                        <hr class="hr-escuro my-4"/>
                    </div>
                {% endfor %}
            </div>
            <div class="container text-right text-uppercase">
                {% if pag != 1 %}
                    <a href="{{ pag|add:" -1" }}" class="text-dark mr-4">
                        <i class="fas fa-arrow-alt-circle-left mr-1"></i>Mais recente</a>
                {% endif %}
                {% if ifNext %}
                    <a href="{{ pag|add:" 1" }}" class="text-dark">
                    Mais antigo <i class="fas fa-arrow-alt-circle-right"></i></a>
                    <hr class="hr-escuro my-4"/>
                {% endif %}
                {% if not ifNext and pag != 1 %}<hr class="hr-escuro my-4"/>{% endif %}
            </div>
        {% else %}
            <div class="container text-center my-5">
                <h2 class="mb-5">Nenhuma notícia foi encontrada!</h2>
                <hr class="hr-escuro my-4"/>
            </div>
        {% endif %}
        <div class="container text-right text-uppercase">
            <a href="#" class="text-dark">Voltar ao topo <i class="fas fa-arrow-alt-circle-up"></i></a>
        </div>
        {% comment %} </div> {% endcomment %}
    </article>
    <!-------- Footer -------->
    {% include "base.footer.html" %}
    <!-------- Javascript -------->
    {% include "base.scripts.html" %}
    <script>
    $("div.cat-inner a.btn#cat-tud").css({ 'background-color': '#0b3e61', 'border-color': '#0b3e61' });
    if ($.browser.mozilla) {
      $(".evento-item h5").css('white-space', 'nowrap');
    }
    </script>
</body>
</html>
