<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include "base.header.html" %}
</head>

<body>
  <!-------- Barra Governo -------->
  {% include "base.governo.html" %}
  <!-------- Home -------->
  <div class="background-home">
    <!-- Navbar -->
    <div id="nav-box" class="pt-3 w-100">
      {% include "base.acessibilidade.html" %}
      <!--  -->
      {% include "base.navbar.html" %}
    </div>
  </div>


  <!-------- Conteúdo -------->

  <nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb px-0 mb-0">
      <li class="breadcrumb-item"><a href="/"><i class='fas fa-home'></i>
        </a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="#">Informática</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reserva de Salas</li>
    </ol>
    <hr class="hr-escuro mt-0">
  </nav>

  <article>

    <div class="container mt-5 text-center cabecalho">
      <h3>Reserva de Salas</h3>
      <hr class="hr-escuro mt-5">
    </div>

    <div class="container mt-4 corpo">



      <div class="row d-flex justify-content-md-center">

        <div class="col-md-12">
          <h3 class="text-center"><b>Escolha uma sala</b></h3>
          <div class="mb-5 mt-4 d-flex justify-content-md-center flex-wrap">
            <button class="btn btn-dark m-2">Sala de Aula 15 - (Térreo)</button>
            <button class="btn btn-dark m-2">Sala de Aula 17 - (Térreo)</button>
            <button class="btn btn-dark m-2">Sala de Aula 19 - (Térreo)</button>
            <button class="btn btn-dark m-2">Sala de Aula 21 - (Térreo)</button>
            <button class="btn btn-dark m-2">Auditório Oscarina - (Térreo)</button>
            <button class="btn btn-dark m-2">Sala de Aula 26A - (1° Pav)</button>
            <button class="btn btn-dark m-2">Sala de Aula 27A - (1° Pav)</button>
            <button class="btn btn-dark m-2">Sala de Aula 29 - (Térreo)</button>
            <button class="btn btn-dark m-2">Sala de Aula 30 - (Térreo)</button>
            <button class="btn btn-dark m-2">Sala de Aula 31 - (Térreo)</button>
            <button class="btn btn-dark m-2">Sala de Aula 32 - (Térreo)</button>
            <button class="btn btn-dark m-2">Laboratório 23 - (Térreo)</button>
            <button class="btn btn-dark m-2">Laboratório 25 - (Térreo)</button>
          </div>
        </div>


        <div class="col-md-12">
          <hr class="hr-escuro mt-4">
          <h3 class="text-center"><b>Uso da sala</b></h3>
        </div>

        <div class="table-reserva d-flex justify-content-md-center">

          <div>
            <div class="col-md-12 m-4 d-flex justify-content-md-around">
              <button class="btn btn-dark">Jan / 2019</button>
              <button class="btn btn-dark">Fev / 2019</button>
              <button class="btn btn-dark">Mar / 2019</button>
              <button class="btn btn-dark">Abr / 2019</button>
            </div>
            <table class="table table-bordered text-center col-md-12 table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Segunda</th>
                  <th scope="col">Terça</th>
                  <th scope="col">Quarta</th>
                  <th scope="col">Quinta</th>
                  <th scope="col">Sexta</th>
                  <th scope="col">Sábado</th>
                  <th scope="col">Domingo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th id="semana-1" class="linha-dia" scope="row">Dia</th>
                  <td></td>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td class="dia-hoje">4</td>
                  <td>5</td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Manhã</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Tarde</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Noite</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="table-separador">
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th id="semana-2" class="linha-dia" scope="row">Dia</th>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                  <td>12</td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Manhã</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Tarde</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Noite</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="table-separador">
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th id="semana-3" class="linha-dia" scope="row">Dia</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Manhã</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Tarde</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Noite</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="table-separador">
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th id="semana-4" class="linha-dia" scope="row">Dia</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Manhã</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Tarde</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Noite</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="table-separador">
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th id="semana-5" class="linha-dia" scope="row">Dia</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Manhã</th>
                  <td id="teste">Especialização em Auditoria em Saúde</td>
                  <td>Especialização em Auditoria em Saúde</td>
                  <td>Especialização em Auditoria em Saúde</td>
                  <td>Especialização em Auditoria em Saúde</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Tarde</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th class="linha-turno" scope="row">Noite</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="table-separador">
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-12">
          <hr class="hr-escuro mt-5">
          <h3 class="text-center mt-4"><b>Formulário de Reserva</b></h3>
          <form class="mt-5">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="exampleFormControlSelect1"><b>Sala</b></label>
                <select class="form-control rounded-0" id="exampleFormControlSelect1" disabled>
                  <option value="1">Sala de Aula 15 - (Térreo)</option>
                  <option value="2">Sala de Aula 17 - (Térreo)</option>
                  <option value="3">Sala de Aula 19 - (Térreo)</option>
                  <option value="4">Sala de Aula 21 - (Térreo)</option>
                  <option value="5">Auditório Oscarina - (Térreo)</option>
                  <option value="6">Sala de Aula 26A - (1° Pav)</option>
                  <option value="7">Sala de Aula 27A - (1° Pav)</option>
                  <option value="8">Sala de Aula 29 - (Térreo)</option>
                  <option value="9">Sala de Aula 30 - (Térreo)</option>
                  <option value="10">Sala de Aula 31 - (Térreo)</option>
                  <option value="11">Sala de Aula 32 - (Térreo)</option>
                  <option value="12">Laboratório 23 - (Térreo)</option>
                  <option value="13">Laboratório 25 - (Térreo)</option>
                </select>
                <small id="emailHelp" class="form-text text-muted">É importante conferir o ambiente da sala com a
                  direção antes da reserva</small>
              </div>
              <div class="form-group col-md-6">
                <label for="inputAddress"><b>Data</b></label>
                <input class="form-control rounded-0" data-mask="00-00-0000" data-toggle="datepicker">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress2"><b>Nome do evento</b></label>
              <input type="text" class="form-control rounded-0" id="" placeholder="Nome do curso, minicurso ou evento">
            </div>
            <div class="form-group">
              <label><b>Turno</b></label><br>
              <div class="custom-control custom-radio custom-control-inline mr-5">
                <input class="custom-control-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                  checked>
                <label class="custom-control-label" for="gridRadios1">Manhã</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline mr-5">
                <input class="custom-control-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="custom-control-label" for="gridRadios2">Tarde</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline mr-5">
                <input class="custom-control-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                <label class="custom-control-label" for="gridRadios3">Noite</label>
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress2"><b>Equipamento multimídia</b></label>
              <input type="text" class="form-control rounded-0" id=""
                placeholder="Será necessário a utilização de algum equipamento multimídia?">
              <small id="emailHelp" class="form-text text-muted">Exemplo: Datashow, caixa de som, software</small>
            </div>
            <div class="form-group">
              <label for="inputAddress2"><b>Solicitante</b></label>
              <input type="text" class="form-control rounded-0" id="" placeholder="Nome completo do solicitante">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4"><b>Email</b></label>
                <input type="email" class="form-control rounded-0" id="" placeholder="Email do solicitante">
              </div>
              <div class="form-group col-md-6">
                <label for="inputAddress"><b>Telefone</b></label>
                <input type="text" class="form-control rounded-0" id="" placeholder="Telefone para contato">
                <small id="emailHelp" class="form-text text-muted">Por favor, digite no seguinte formato
                  "(xx)xxxxx-xxxx; (xx)xxxxx-xxxx"</small>
              </div>
            </div>

            <div class="text-center mt-4">
              <button class="btn btn-dark rounded-0">Enviar Solicitação</button>
            </div>

          </form>
        </div>

      </div>

      <style>
        #teste {
          position: relative;
        }

        #teste::after {
          content: "";
          position: absolute;
          top: 0px;
          right: 0px;
          width: 0;
          height: 0;
          border-top: 10px solid rgb(255, 50, 50);
          border-left: 10px solid transparent;
        }

        .dia-hoje {
          background-color: rgb(202, 202, 202);
        }

        .table td,
        .table th {
          padding: 2px;
          font-size: 14px
        }

        .linha-dia~td {
          text-align: right;
          padding-right: 15px;
          font-weight: 800;
        }

        th.linha-turno {
          padding: 5px;
        }

        .linha-turno~td {
          padding: 5px;
          font-size: 11px;
          line-height: 13px;
          width: 125px;
        }

        tr.table-separador {
          background-color: #dee2e6;
        }

        tr.table-separador td {
          padding: 3px;
        }

        @media (max-width: 768px) {
          .table-reserva {
            overflow-x: scroll;
            margin: 0px 15px;
          }
        }
      </style>

    </div>

    <div class="container text-right">
      <hr class="hr-escuro my-5">
      <a href="#" class="text-uppercase text-dark">Voltar ao topo<i class='fas fa-arrow-alt-circle-up'></i></a>
    </div>
  </article>


  <!-------- Footer -------->
  {% include "base.footer.html" %}
  <!-------- Javascript -------->
  {% include "base.scripts.html" %}
  <script src="assets/js/datepicker.min.js"></script>
  <script>
    $('[data-toggle="datepicker"]').datepicker({
      format: 'dd-mm-yyyy',
      months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      daysMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S']

    });
  </script>
</body>

</html>






















<!-------- Footer -------->

<footer class="mt-5">

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1180.0366746290038!2d-35.20297690672563!3d-5.833841770638428!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2ff5f5dc3e34d%3A0xe6608f57294f3808!2sEscola+de+Sa%C3%BAde+-+ESUFRN+%2F+UFRN!5e0!3m2!1spt-BR!2sbr!4v1541438433786"
    width="100%" height="300" frameborder="0" style="border:0" allowfullscreen"></iframe>

  <div class="container text-white social-media">
    <h5>Redes Sociais</h5>
    <a href=""><i class="fab fa-facebook text-white"></i></a>
    <a href=""><i class="fab fa-youtube text-white"></i></a>
    <hr>
  </div>

  <div class="container text-white pt-4 link-resumo">
    <div class="">
      <h5>Intitucional</h5>
      <a href="">
        <p>Trajetória Histórica</p>
      </a>
      <a href="">
        <p>Equipe ESUFRN</p>
      </a>
      <a href="">
        <p>Contato</p>
      </a>
    </div>
    <div class="">
      <h5>Ensino</h5>
      <a href="">
        <p>Técnicos | Pós-Técnicos</p>
      </a>
      <a href="">
        <p>Graduação Tecnológica</p>
      </a>
      <a href="">
        <p>Especialização Lato Senso</p>
      </a>
      <a href="">
        <p>Mestrado Profissional</p>
      </a>
      <a href="">
        <p>Pronatec-FIC | Pronatec-Técnicos</p>
      </a>
    </div>
    <div class="">
      <h5>Biblioteca</h5>
      <a href="">
        <p>Serviços Oferecidos</p>
      </a>
      <a href="">
        <p>Manual do Usuário</p>
      </a>
      <a href="">
        <p>Catálogo Online e Horário de Funcionamento</p>
      </a>
    </div>
    <div class="">
      <h5>Informática</h5>
      <a href="">
        <p>Chamado Suporte</p>
      </a>
      <a href="">
        <p>Reservas</p>
      </a>
      <a href="">
        <p>ESUFRN Facebook</p>
      </a>
      <a href="">
        <p>Webmail</p>
      </a>
    </div>
    <div class="">
      <h5>Concursos e Processos Seletivos</h5>
      <a href="">
        <p>Concursos Abertos</p>
      </a>
      <a href="">
        <p>Concursos Finalizados</p>
      </a>
      <a href="">
        <p>Processos Seletivos Abertos</p>
      </a>
      <a href="">
        <p>Processos Seletivos Finalizados</p>
      </a>
    </div>

    <hr>
  </div>

  <div class="container mt-4">
    <div class="row text-white text-center link-info">
      <div class="col-md-6">
        <p>E-mail: esufrn@es.ufrn.br</p>
        <p>Sec. Direção: 3342-2290/R100</p>
      </div>
      <div class="col-md-6">
        <p>Sec. Direção Ensino: 3342-2290/R101</p>
        <p>Universidade Federal do Rio Grande do Norte</p>
      </div>
    </div>
  </div>

  <div class="container text-center mt-4">
    <a href=""><img src="assets/images/logofooter.png" alt="Logo suporte ESUFRN"></a>
    <p style="font-size: 12px; color: white; margin-bottom: 0; padding-bottom: 5px;">O visual deste site foi baseado
      no <a class="text-white" href="http://portalpadrao.gov.br/" target="_blank">Portal Padrão</a> </p>
  </div>

</footer>

<!-------- Javascript -------->

<script src="assets/js/barra_2.0.js"></script>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/jquery.mask.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/owl-carousel/owl.carousel.min.js"></script>
<script src="assets/js/main.js"></script>

<script src="assets/js/datepicker.min.js"></script>
<script>
  $('[data-toggle="datepicker"]').datepicker({
    format: 'dd-mm-yyyy',
    months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    daysMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S']

  });
</script>

</body>

</html>