<!DOCTYPE html>
<html lang="pt-br">
{% include "base.header.html" %}

<body>
  <!-------- Barra Governo -------->
  {% include "base.governo.html" %}
  <!-------- Home -------->
  <div class="background-home">
    <!-- Navbar -->
    <div id="nav-box" class="pt-3 w-100 secondary">
      {% include "base.acessibilidade.html" %}
      <!--  -->
      {% include "base.navbar.html" %}
    </div>
  </div>


  <!-------- Conteúdo -------->

  <nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb px-0 mb-0">
      <li class="breadcrumb-item"><a href="/"><i class='fas fa-home'></i>
        </a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="#">Instituição</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sobre</li>
    </ol>
    <hr class="hr-escuro mt-0">
  </nav>

  <article>

    <div class="container mt-5 text-center cabecalho">
      <h3>Sobre a Escola</h3>
      <hr class="hr-escuro mt-5">
    </div>

    <div class="container mt-4 corpo historia text-justify">

      <p>
        A Escola de Saúde da UFRN é a Unidade Acadêmica Especializada em Saúde da Universidade Federal do Rio Grande do Norte, criada em 1955, que atua em todos os níveis da formação profissional em saúde no Rio Grande do Norte, por meio de atividades de ensino, pesquisa e extensão, contribuindo, assim, para a qualificação da atenção e da gestão do Sistema Único de Saúde.
      </p>
      <p>
        Tem como missão promover a profissionalização cidadã de educandos para atuarem em diversos níveis de atenção à saúde, de forma integral e crítica, considerando os princípios éticos, técnicos, políticos e humanos, na perspectiva de contribuir para a melhoria das condições de saúde da população.
      </p>

    </div>

    <div class="container text-right">
      <hr class="hr-escuro my-5">
      <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class='fas fa-arrow-alt-circle-up'></i></a>
    </div>
  </article>


  <!-------- Footer -------->
  {% include "base.footer.html" %}
  <!-------- Javascript -------->
  {% include "base.scripts.html" %}
</body>

</html>