<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include "base.header.html" %}
</head>

<body>
  <!-------- Barra Governo -------->
  {% include "base.governo.html" %}
  <!-------- Home -------->
  <div class="background-home">
    <!-- Navbar -->
    <div id="nav-box" class="pt-3 w-100 secondary">
      {% include "base.acessibilidade.html" %}
      <!--  -->
      {% include "base.navbar.html" %}
    </div>
  </div>


  <!-------- Conteúdo -------->

  <nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb px-0 mb-0">
      <li class="breadcrumb-item"><a href="/"><i class='fas fa-home'></i>
        </a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="#">Instituição</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contatos</li>
    </ol>
    <hr class="hr-escuro mt-0">
  </nav>

  <article>

    <div class="container mt-5 text-center cabecalho">
      <h3>Contatos</h3>
    </div>

    <div class="container mt-4 corpo">
      <h3 class="text-center my-5 cabecalho-subtitulo"><b> Escola de Saúde da UFRN</b></h3>

      <p><b>Direção de Ensino:</b></p>
      <p><small>✉️ Email:</small> sec.direcaodeensino.esufrn@gmail.com</p>
      <p><small>💬 Telefone:</small> 3342-2290/R100</p>
      <p><small>💬 Whatsapp:</small> 9 9193 - 6039</p>
      <p><small>📋 Solicitações com requerimento:</small> <a href="https://forms.gle/dqhppWoSh7ARwrrM9"
          target="_blank">https://forms.gle/dqhppWoSh7ARwrrM9</a></p>

      <hr class="border-top" />

      <p><b>Coordenação Gestão Hospitalar</b></p>
      <p><small>✉️ Email:</small> coordenacaoghufrn@gmail.com</p>
      <p><small>✉️ Email:</small> gestaohospitalareen@gmail.com</p>
      <p><small>💬 Telefone:</small> 3342-2290/R103</p>
      <p><small>💬 Whatsapp:</small> 9 9474 - 6710</p>
      <p><small>📋 Solicitações com requerimento:</small> <a href="https://forms.gle/wmwVQpFTVaDMJ3XG7"
          target="_blank">https://forms.gle/wmwVQpFTVaDMJ3XG7</a></p>

      <hr class="border-top" />

      <p><b>Mestrado Profissional</b></p>
      <p><small>✉️ Email:</small> mppse2017@gmail.com</p>
      <p><small>💬 Whatsapp:</small> 9 9474 - 6708</p>

      <hr class="border-top" />

      <p><b>Dúvidas de informática</b></p>
      <p><small>✉️ Site:</small> <a href="http://escoladesaude.ufrn.br/dashboard/inserir"
          target="_blank">http://escoladesaude.ufrn.br/dashboard/inserir</a></p>
      <p></p>
      <p><small>💬 Telefone:</small> 3342-2290/R104</p>

      <hr class="border-top" />

      <p><b>Assuntos diversos</b></p>
      <p><small>✉️ Email:</small> atendimento.esufrn@gmail.com</p>
      <p><small>💬 Whatsapp:</small> 9 9474 - 6701</p>

      <hr class="border-top" />

      <p><b>Secretaria da Direção de Ensino</b></p>
      <p><small>💬 Telefone:</small> 3342-2290/R101</p>

      <hr class="border-top" />

      <p><b>Biblioteca Bertha Cruz Enders</b></p>
      <p><small>💬 Telefone:</small> 3215-3669</p>

      <hr class="border-top" />

      <p><b>Almoxarifado de Enfermagem</b></p>
      <p><small>💬 Telefone:</small> 3342-2290/R111</p>

      <!--  -->

      <h3 class="text-center my-5 cabecalho-subtitulo"><b>Complexo de Enfermagem/UFRN</b></h3>

      <p><b>Telefone Público</b></p>
      <p><small>💬 Telefone:</small> 3211-9195</p>

      <hr class="border-top" />

      <p><b>Recepção</b></p>
      <p><small>💬 Telefone:</small> 3215-3686</p>

      <!--  -->

      <h3 class="text-center my-5 cabecalho-subtitulo"><b> 2º Andar – Salas de Professores</b></h3>

      <p><b>Sala nº 03</b></p>
      <p><small>💬 Telefone:</small> 3342-2290/R110</p>

      <hr class="border-top" />

      <p><b>Sala nº 04</b></p>
      <p><small>💬 Telefone:</small> 3342-2290/R106</p>

      <hr class="border-top" />

      <p><b>Sala nº 05</b></p>
      <p><small>💬 Telefone:</small> 3342-2290/R107</p>

      <hr class="border-top" />

      <p><b>Sala nº 06</b></p>
      <p><small>💬 Telefone:</small> 3342-2290/R108</p>

      <hr class="border-top" />

      <p><b>Sala nº 07</b></p>
      <p><small>💬 Telefone:</small> 3342-2290/R109</p>

      <hr class="border-top" />

      <p><b>Sala nº 09</b></p>
      <p><small>💬 Telefone:</small> 3342-2290/R115</p>

    </div>

    <div class="container text-right">
      <hr class="hr-escuro my-5">
      <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class='fas fa-arrow-alt-circle-up'></i></a>
    </div>
  </article>


  <!-------- Footer -------->
  {% include "base.footer.html" %}
  <!-------- Javascript -------->
  {% include "base.scripts.html" %}
</body>

</html>