<!DOCTYPE html>
<html lang="pt-br">
    {% include "base.header.html" %}
    <body>
        <!-------- Barra Governo -------->
        {% include "base.governo.html" %}
        <!-------- Home -------->
        <div class="background-home">
            <!-- Navbar -->
            <div id="nav-box" class="pt-3 w-100 secondary">
                {% include "base.acessibilidade.html" %}
                <!--  -->
                {% include "base.navbar.html" %}
            </div>
        </div>
        <!-------- Conteúdo -------->
        <nav aria-label="breadcrumb" class="container">
            <ol class="breadcrumb px-0 mb-0">
                <li class="breadcrumb-item">
                    <a href="/"><i class="fas fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="#">Pesquisa e Extensão</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Especialização em Enfermagem Obstétrica</li>
            </ol>
            <hr class="hr-escuro mt-0" />
        </nav>
        <article>
            <div class="container mt-5 text-center cabecalho">
                <h3>Curso de Especialização em Enfermagem Obstétrica</h3>
                <h4>Rede Cegonha</h4>
                <hr class="hr-escuro mt-5" />
            </div>
            <div class="container mt-5 corpo historia">
                <img class="w-100"
                     src="/static/assets/images/rede_cegonha.png"
                     alt="Rede Cegonha"/>
                <p>
                    Neste espaço estão inseridos os produtos oriundos dos Trabalhos de Conclusão de Curso da
                    terceira turma do Curso de Especialização em Enfermagem Obstétrica – Rede Cegonha
                    coordenado pela Escola de Saúde da UFRN.
                </p>
                <p>É permitida a reprodução parcial ou total destas obras, desde que citada a fonte.</p>
                <h3 class="font-weight-bold mt-5 mb-4">Livro</h3>
                <p>
                    <a href="/media/files/E-book_Livro_Ressignicando_a_prática_da_enfermagem_obstétrica-1.pdf"
                       target="_blank">
                        (RE) SSIGNIFICANDO A PRÁTICA DA ENFERMAGEM OBSTÉTRICA Processo de formação-intervenção
                    </a>
                </p>
                <small>
                    <p>(Organizadores)</p>
                    <p>Jovanka Bittencourt Leite de Carvalho</p>
                    <p>Flávio César Bezerra da Silva</p>
                </small>
                <h3 class="font-weight-bold mt-5 mb-4">Arquivos</h3>
                <small>
                    <p>
                        <a href="/media/files/ATRIBUIÇÕES-PARA-EQUIPE-MULTIPROFISSIONAL-QUANTO-AO-USO-DO-“CAVALINHO”-PELAS-PARTURIENTES-EM-TRABALHO-DE-PARTO.pdf"
                           target="_blank">
                            ATRIBUIÇÕES PARA EQUIPE MULTIPROFISSIONAL QUANTO AO USO DO “CAVALINHO” PELAS
                            PARTURIENTES EM TRABALHO DE PARTO
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/FICHA-AVALIATVA-DA-MATERNIDADE-LEIDE-MORAIS-COMPLEMENTAR-AO-PARTOGRAMA-DE-FRIEDMAN-SOBRE-USO-DE-MÉTODOS-NÃO-FARMACOLÓGICOS_SOUZA-.pdf"
                           target="_blank">
                            FICHA AVALIATIVA DA MATERNIDADE LEIDE MORAIS COMPLEMENTAR AO PARTOGRAMA DE FRIEDMAN
                            SOBRE USO DE MÉTODOS NÃO FARMACOLÓGICOS
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/FORMULÁRIO-AVALIAÇÃO-ALEITAMENTO-MATERNO_MATERNIDADE-DR.-ARAKEN-IRERÊ-PINTO_CEEO-III-Rede-Cegonha_ESUFRN.pdf"
                           target="_blank">
                            FORMULÁRIO AVALIAÇÃO ALEITAMENTO MATERNO MATERNIDADE DR. ARAKEN IRERÊ PINTO CEEO III
                            Rede Cegonha ESUFRN
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/PROCEDIMENTO-OPERACIONAL-PADRÃO_ALEITAMENTO-MATERNO-DE-PRIMEIRA-HORAAMPH_CEEO-III-Rede-Cegonha_ESUFRN-.pdf"
                           target="_blank">
                            PROCEDIMENTO OPERACIONAL PADRÃO ALEITAMENTO MATERNO DE PRIMEIRA HORA(AMPH) CEEO III
                            Rede Cegonha ESUFRN
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/PROTOCOLO-OPERACIONAL-PADRÃO_MATERNIDADE-PROFESSOR-LEIDE-MORAIS_CEEO-III-Rede-Cegonha_ESUFRN.pdf"
                           target="_blank">
                            PROTOCOLO OPERACIONAL PADRÃO MATERNIDADE PROFESSOR LEIDE MORAIS CEEO III Rede Cegonha
                            ESUFRN
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/LIVRETO_PROTOCOLO-PARA-O-MANEJO-DA-HEMORRAGIA-PÓS-PARTO-NO-HOSPITAL-REGIONAL-MONSENHOR-ANTÔNIO-BARROS.pdf"
                           target="_blank">
                            LIVRETO PROTOCOLO PARA O MANEJO DA HEMORRAGIA PÓS-PARTO NO HOSPITAL REGIONAL MONSENHOR
                            ANTÔNIO BARROS
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/PROTOCOLO-PARA-O-MANEJO-DA-HEMORRAGIA-PÓS-PARTO.pdf"
                           target="_blank">
                            PROTOCOLO PARA O MANEJO DA HEMORRAGIA PÓS-PARTO
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/FOLDER_PROJETO-DE-INTERVENÇÃO_A-IMPLEMENTAÇÃO-DA-MÚSICA-NA-SUÍTE-PPP.pdf"
                           target="_blank">
                            FOLDER PROJETO DE INTERVENÇÃO A IMPLEMENTAÇÃO DA MÚSICA NA SUÍTE PPP
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/INSTRUMENTO-PARA-AVALIAÇÃO-DA-MÚSICA-NO-CENÁRIO-DO-PARTO-ADAPTADO-DA-ESCALA-LIKERT-2.pdf"
                           target="_blank">
                            INSTRUMENTO PARA AVALIAÇÃO DA MÚSICA NO CENÁRIO DO PARTO ADAPTADO DA ESCALA LIKERT
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/ATRIBUIÇÕES-PARA-EQUIPE-MULTIPROFISSIONAL-SOBRE-O-USO-DA-BOLA-SUIÇA-PELAS-PARTURIENTES-EM-TRABALHO-DE-PARTO.pdf"
                           target="_blank">
                            ATRIBUIÇÕES PARA EQUIPE MULTIPROFISSIONAL SOBRE O USO DA BOLA SUIÇA PELAS PARTURIENTES
                            EM TRABALHO DE PARTO
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/BANNER_COLO-E-LEITE-MATERNO_A-RECEITA-DA-FELICIDADE-NA-VIDA-DE-MÃES-E-BEBÊS.pdf"
                           target="_blank">
                            BANNER COLO E LEITE MATERNO A RECEITA DA FELICIDADE NA VIDA DE MÃES E BEBÊ
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/PROMOÇÃO-DO-CONTATO-PELE-A-PELE-PRECOCE-E-DO-ALEITAMENTO-MATERNO-NA-PRIMEIRA-HORA-PÓS-PARTO.pdf"
                           target="_blank">
                            PROMOCAO DO CONTATO PELE A PELE PRECOCE E DO ALEITAMENTO MATERNO NA PRIMEIRA HORA POS
                            PARTO
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/ASSISTENCIAENFERMAGEM.pdf" target="_blank">
                            PROTOCOLO DE ACOLHIMENTO COM CLASSIFICAÇÃO DE RISCO
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/FERRAMENTA-CONSTRUIDA-PARA-CLASSIFICAR-AS-MULHERES-SEGUNDO-ROBSON.pdf"
                           target="_blank">
                            FERRAMENTA CONSTRUIDA PARA CLASSIFICAR AS MULHERES SEGUNDO ROBSON
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/FICHA-DE-ESPELHO-GERADA-COM-RESULTADO-DA-CLASSIFICAÇÃO-DE-ROBSON-A-PARTIR-DO-PREENCHIMENTO-DO-GOOGLE-DOCS.pdf"
                           target="_blank">
                            FICHA DE ESPELHO GERADA COM RESULTADO DA CLASSIFICAÇÃO DE ROBSON A PARTIR DO
                            PREENCHIMENTO DO GOOGLE DOCS
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/FICHA-DE-ESTRATIFICAÇÃO-DE-RISCO-PARA-PARTO-NORMAL-COM-IDENTIFICAÇÃO-DOS-GRUPOS-1-E-3.pdf"
                           target="_blank">
                            FICHA DE ESTRATIFICAÇÃO DE RISCO PARA PARTO NORMAL COM IDENTIFICAÇÃO DOS GRUPOS 1 E 3
                        </a>
                    </p>
                    <p>
                        <a href="/media/files/MANUAL-DE-ORIENTAÇÃO-PARA-CLASSIFICAÇÃO-DE-ROBSON.pdf"
                           target="_blank">
                            MANUAL DE ORIENTAÇÃO PARA CLASSIFICAÇÃO DE ROBSON
                        </a>
                    </p>
                </small>
            </div>
            <div class="container text-right">
                <hr class="hr-escuro my-5" />
            <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class="fas fa-arrow-alt-circle-up"></i
        ></a>
    </div>
</article>
<!-------- Footer -------->
{% include "base.footer.html" %}
<!-------- Javascript -------->
{% include "base.scripts.html" %}
</body>
</html>
