<!-- -------------------------------------------------- Tabela --------------------------------------------------------- -->
<tr>
    <td class="text-center px-0 pl-2">
        <i class="fas fa-exclamation-circle text-success"></i>
    </td>
    <td>Reserva</td>
    <td>Sala 15 - (Térreo)</td>
    <td>Professor Flávio</td>
    <td class="text-center font-weight-bold">25/05/2019</td>
    <td class="text-center">
        <a href=""><i class="fas fa-eye text-center"></i></a>
    </td>
</tr>
<tr>
    <td class="text-center px-0 pl-2">
        <i class="fas fa-exclamation-circle text-success"></i>
    </td>
    <td>Chamado</td>
    <td>Computador nao está ligando.</td>
    <td>Micheline</td>
    <td class="text-center font-weight-bold">25/05/2019</td>
    <td class="text-center">
        <a href=""><i class="fas fa-eye text-center"></i></a>
    </td>
</tr>
<tr>
    <td class="text-center px-0 pl-2">
        <i class="fas fa-exclamation-circle text-success"></i>
    </td>
    <td>Chamado</td>
    <td>Internet parou de funcionar.</td>
    <td>Belinha</td>
    <td class="text-center font-weight-bold">25/05/2019</td>
    <td class="text-center">
        <a href=""><i class="fas fa-eye text-center"></i></a>
    </td>
</tr>
<!-- -------------------------------------------------- Chamado Sala Reserva --------------------------------------------------------- -->
<div class="card-group" id="detalhes-1" style="display: none;">
    <div class="card" style="width: 18rem;">
        <div class="card-header head-table border-0 rounded-0">
            <b data-reserve-id=""><i class="fas fa-info mr-2"></i>Detalhes do Chamado</b>
        </div>
        <div class="card-body">
            <small class="text-muted">Tipo: Reserva de Sala</small>
            <p>
                <small class="text-muted">Status:</small><span data-var="status"></span>
            </p>
            <h5 class="card-title">
                <small>Título:</small> <b data-var="classroomname">Sala 15 - (Térreo)</b>
            </h5>
            <p class="card-text">
                <small>Evento:</small> <b data-var="event">Orientação mestrado profissional - Cláudia Rubin</b>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <small>Data:</small> <b data-var="date">25/05/2019</b>
            </li>
            <li class="list-group-item">
                <small>Turno:</small> <b data-var="shift">Manhã</b>
            </li>
            <li class="list-group-item">
                <small>Equipamentos:</small> <b data-var="equipment">Projetor e software</b>
            </li>
            <li class="list-group-item">
                <small>Solicitante:</small> <b data-var="requester">Maria das Dores</b>
            </li>
            <li class="list-group-item">
                <small>Email:</small> <b data-var="email">mariazinha@email.com</b>
            </li>
            <li class="list-group-item">
                <small>Telefone:</small> <b data-var="phone">84 9 9999-4444</b>
            </li>
        </ul>
        <div class="card-footer border-top-0">
            <p>
                <b>Ações:</b>
            </p>
            <small class="text-muted">Observação do chamado:</small>
            <textarea class="form-control mb-3" rows="2" placeholder="Escrever observação"></textarea>
            <small class="text-muted">Iserir mensagem no email resposta:</small>
            <textarea class="form-control mb-3" rows="2" placeholder="Escrever menagem"></textarea>
            <a href="#" class="btn mb-1 btn-outline-success btn-sm" data-status="A">Confirmar</a>
            <a href="#" class="btn mb-1 btn-outline-danger btn-sm" data-status="R">Rejeitar</a>
            <a href="#" class="btn mb-1 btn-outline-warning btn-sm">Colocar em Espera</a>
            <a href="#" class="btn mb-1 btn-outline-primary btn-sm">Salvar Observação</a>
            <p class="m-0 mt-2">
                <small class="text-muted" data-var="created_at">Data do Chamado: 23/05/2019 19:35</small>
            </p>
            <p class="m-0 mt-2">
                <small class="text-muted" data-var="refresh_at">Ultima Alteração: --</small>
            </p>
        </div>
    </div>
</div>
