<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="icon" href="/static/assets/images/icon.ico" />
        <title>Escola de Saúde da UFRN</title>
        <!-- <link href="https://fonts.googleapis.com/css?family=Nunito"
       rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Raleway"
              rel="stylesheet"/>
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
        <link rel="stylesheet"
              href="/static/assets/owl-carousel/owl.carousel.min.css"/>
        <link rel="stylesheet"
              href="/static/assets/owl-carousel/owl.theme.default.min.css"/>
        <link rel="stylesheet" href="/static/assets/css/style.css" />
        <link rel="stylesheet" href="/static/assets/css/barra_2.0.css" />
        <link rel="stylesheet" href="/static/assets/css/datepicker.min.css" />
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous"/>
    </head>
    <body>
        <!-------- Barra Governo -------->
        {% include "base.governo.html" %}
        <!-------- Home -------->
        <div class="background-home">
            <!-- Navbar -->
            <div id="nav-box" class="pt-3 w-100">
                {% include "base.acessibilidade.html" %}
                <!--  -->
                <!-- {% include "base.navbar.html" %} -->
            </div>
        </div>
        <!-------- Conteúdo -------->
        <nav aria-label="breadcrumb" class="container">
            <ol class="breadcrumb px-0 mb-0">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="fas fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="noticias.html">Informática</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard Chamados</li>
            </ol>
            <hr class="hr-escuro mt-0" />
        </nav>
        <article>
            <div class="container mt-5 text-center cabecalho">
                <h3>Sistema de Chamados</h3>
                <hr class="hr-escuro mt-5" />
            </div>
            <div class="container mt-4 corpo"></div>
            <div class="container text-right">
                <hr class="hr-escuro my-5" />
            <a href="#" class="text-uppercase text-dark">Voltar ao topo <i class="fas fa-arrow-alt-circle-up"></i
        ></a>
    </div>
</article>
<!-------- Footer -------->
<style>
      .background-home {
        padding-bottom: 0px;
      }
      #logo hr {
        border-color: transparent;
      }
</style>
<!-- {% include "base.footer.html" %} -->
<!-------- Javascript -------->
<script src="/static/assets/js/barra_2.0.js"></script>
<script src="/static/assets/js/jquery-3.3.1.min.js"></script>
<script src="/static/assets/js/jquery.mask.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/owl-carousel/owl.carousel.min.js"></script>
<script src="/static/assets/js/main.js"></script>
<script src="/static/assets/js/datepicker.min.js"></script>
<script src="/static/assets/js/main.reserva.js"></script>
</body>
</html>
