{% extends "dashboard.base.html" %}
{% load static %}
{% block styles %}
    <style>
        table.table th:nth-child(1) {
            width: 8%;
        }

        table.table th:nth-child(2) {
            width: 20%;
        }

        table.table th:nth-child(3) {
            width: 18%;
        }

        table.table th:nth-child(4) {
            width: 10%;
        }

        table.table th:nth-child(5) {
            width: 24%;
        }

        table.table th:nth-child(6) {
            width: 20%;
        }

        .table thead tr th,
        .table tbody tr td {
            border: 1px solid black !important;
            vertical-align: middle;
        }

        table {
            page-break-inside: auto !important;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto !important;
        }

        td {
            white-space: normal !important;
        }

        thead {
            display: table-header-group !important;
        }

        .doc * {
            font-family: "Times New Roman", Times, serif !important;
            font-size: 14pt;
        }

        .doc-head * {
            font-size: 16pt;
        }
    </style>
{% endblock styles %}
{% block content %}
    <div class="no-print">
        <div class="mb-2 text-center">
            <h3>Relatório de períodos dos cursos</h3>
            <div id="escolheMes"></div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="button"
                            class="btn mb-1 btn-outline-primary btn-sm"
                            onclick="window.print();return false;">
                        Imprimir <i class="fas fa-print" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <div class="row mt-3">
                <div class="col-md-6 mb-3">
                    <label>Curso:</label>
                    <select class="form-control form-control-sm " data-filter name="course">
                        <option value="">
                            Todos os cursos
                        </option>
                        {% for index, name in cursos %}
                            {% if name %}
                                <option value="{{ index }}"
                                        {% if index == request.GET.course %}selected{% endif %}>
                                    {{ name }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label>Turma:</label>
                    <select class="form-control form-control-sm " data-filter name="class_period">
                        <option value="">
                            Todas as turmas
                        </option>
                        {% for turma in turmas %}
                            <option value="{{ turma }}"
                                    {% if turma == request.GET.class_period %}selected{% endif %}>
                                {{ turma }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label>Período:</label>
                    <select class="form-control form-control-sm " data-filter name="period">
                        <option value="">
                            Apenas perídos do ano atual
                        </option>
                        {% for periodo in periodos %}
                            <option value="{{ periodo }}"
                                    {% if periodo == request.GET.period %}selected{% endif %}>
                                {{ periodo }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div class="doc">
        {% for group in period_groups %}
            <div class="doc-head">
                <div class="text-center my-4">
                    <p class="m-0">
                        <b>UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE</b>
                    </p>
                    <p class="m-0">
                        <b>ESCOLA DE SAÚDE</b>
                    </p>
                    <p class="m-0">
                        <b>CURSO: {{ group.course|upper }}</b>
                    </p>
                </div>
                <div class="text-center mb-4">
                    <p class="m-0">
                        <b>TURMA {{ group.class_period }} </b>
                    </p>
                    <p class="m-0">
                        <b>Período {{ group.period }} (Início em {{ group.date_begin|date:"d/m/Y" }})</b>
                    </p>
                </div>
            </div>
            <table class="table table-bordered">
                <caption>Emitido em: {% now "d/m/Y" %} às {% now "H:i" %}</caption>
                <thead>
                    <tr>
                        <th class="text-center">Código</th>
                        <th class="text-center">MÓDULO</th>
                        <th class="text-center">PERÍODO</th>
                        <th class="text-center">Dias / CH</th>
                        <th class="text-center">DOCENTES</th>
                        <th class="text-center">SALA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for period in group.periods %}
                        <tr>
                            <td class="py-0 text-center" style="white-space: nowrap;">{{ period.classcode|default_if_none:'' }}</td>
                            <td class="py-0">
                                <b>{{ period.classname|upper }}</b>
                            </td>
                            <td class="py-0 text-center">
                                <div>{{ period.get_short_weekdays }}</div>
                                <div>{{ period.shift }}</div>
                                <div>{{ period.date_begin|date:"d/m" }} a {{ period.date_end|date:"d/m" }}</div>
                            </td>
                            <td class="py-0 text-center">
                                {% with period.workload as workload %}
                                    {% if workload %}<div>{{ workload }}h</div>{% endif %}
                                {% endwith %}
                                <div>{{ period.get_total_days }}d</div>
                                {% if period.get_saturdays %}<div style="white-space: nowrap;">({{ period.get_saturdays }} sáb)</div>{% endif %}
                            </td>
                            <td class="py-0">{{ period.requester }}</td>
                            <td class="py-0">{{ period.classroom }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not forloop.last %}
                <hr class="no-print my-4"/>
                <div style="page-break-before:always"></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="no-print mt-5">
        <hr />
        <div class="row justify-content-end">
            <div class="col-auto">
                <button type="button"
                        class="btn mb-1 btn-outline-secondary btn-sm"
                        onclick="backTop();">
                    Voltar para o topo <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-auto">
                <button type="button"
                        class="btn mb-1 btn-outline-primary btn-sm"
                        onclick="window.print();return false;">
                    Imprimir <i class="fas fa-print" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'assets/dashboard/periodo/js/relatorio.js'%}"></script>
{% endblock scripts %}
